
@media screen and (max-width: 1200px) {
    .alina-main-text {
        text-align: justify;
        margin-left: 60px;
        margin-right: 10px;
        border-left: 1px solid #999;
        border-bottom: 1px solid #999;
        padding-left: 10px;
        padding-bottom: 10px;
        background: white;
        font-size: 0.7rem;
    }

    .alina-body {
        background-color: #faf9d5;
        padding: 50px;
        font-size: 18px;     }

    .alina-gallery-wrapper .img-hobbies {
        height: 300px;
        width: auto;
    }

    .alina-wrapper {
        height: 300px;
        width: auto;
    }

    .alina-text-block {
        position: absolute;
        top: 200px;
        left: 17px;
        color: black;
        font-size: 30px;
        font-family: calibri, cursive;
        text-align: center;
        background-color: white;
        width: 300px;
        height: 40px;
    }

    .alina-wrapper-albums {
        height: 300px;
        width: auto;
    }

    .alina-text-block-albums {
        position: absolute;
        bottom: 20px;
        left: 17px;
        color: white;
        font-size: 20px;
        font-family: calibri, cursive;
        text-align: center;
        background-color: darkgray;
        width: 300px;
        height: 30px;
    }

    .alina-hover-button {
        padding: 10px 20px;
        margin: 15px 20px;
        font-size: 18px;
        background: grey;
        color: white;
        border-radius: 3px;
        outline: none;
        transition: all 0.2s ease-in-out;
    }

    .alina-hover-button:hover {
        background: #FFD700;
        font-size: 22px;
        font-weight: bold;
        cursor: pointer;
    }

    .alina-run-line {
        position: relative;
        width: auto;
        height: 30px;
        margin: 50px -200px;
        text-align: left;
        font-size: 20px;
        color: red;
        letter-spacing: 15px;
        animation: marquee linear 8s infinite;
    }

    @keyframes marquee {
        from {
            transform: translateX(-100px);
        }
        to {
            transform: translateX(100%);
        }
    }

    @media screen and (max-width: 576px) {
        .alina-body {
            background-color: grey;
            padding: 50px;
            font-size: small;
        }

        .alina-gallery-wrapper .img-hobbies {
            height: 100px;
            width: auto;
        }

        .alina-wrapper {
            height: 100px;
            width: auto;
        }

        .alina-text-block {
            position: absolute;
            top: 80px;
            left: 17px;
            color: black;
            font-size: 14px;
            font-family: calibri, cursive;
            text-align: center;
            background-color: white;
            width: 100px;
            height: 20px;
        }

        .alina-wrapper-albums {
            position: relative;
            display: inline-block;
        }

        .alina-text-block-albums {
            position: absolute;
            bottom: 20px;
            left: 17px;
            color: white;
            font-size: 15px;
            font-family: calibri, cursive;
            text-align: center;
            background-color: darkgray;
            width: 100px;
            height: 20px;
        }

        /*@media screen and (min-width: 576px) {
            .alina-body {
                background-color: #gray;
                padding: 50px;
                font-size: small;
            }

            .alina-gallery-wrapper .img-hobbies {
                height: 100px;
                width: auto;
            }

            .alina-wrapper {
                height: 100px;
                width: auto;
            }

            .alina-text-block {
                position: absolute;
                top: 80px;
                left: 17px;
                color: black;
                font-size: 14px;
                font-family: calibri, cursive;
                text-align: center;
                background-color: white;
                width: 100px;
                height: 20px;
            }

            .alina-wrapper-albums {
                position: relative;
                display: inline-block;
            }

            .alina-text-block-albums {
                position: absolute;
                bottom: 20px;
                left: 17px;
                color: white;
                font-size: 15px;
                font-family: calibri, cursive;
                text-align: center;
                background-color: darkgray;
                width: 100px;
                height: 20px;
            }
        }*/

        /*@media screen and (min-width: 768px) {
           .alina-body {
               background-color: greenyellow;
               padding: 50px;
               font-size: small;
           }

           .alina-gallery-wrapper .img-hobbies {
               height: 100px;
               width: auto;
           }

           .alina-wrapper {
               height: 100px;
               width: auto;
           }

           .alina-text-block {
               position: absolute;
               top: 80px;
               left: 17px;
               color: black;
               font-size: 14px;
               font-family: calibri, cursive;
               text-align: center;
               background-color: white;
               width: 100px;
               height: 20px;
           }

           .alina-wrapper-albums {
                 position: relative;
                 display: inline-block;
             }

           .alina-text-block-albums {
               position: absolute;
               bottom: 20px;
               left: 17px;
               color: white;
               font-size: 15px;
               font-family: calibri, cursive;
               text-align: center;
               background-color: darkgray;
               width: 100px;
               height: 20px;
           }
       } */

        /*@media screen and (min-width: 576px) {
            .alina-body {
                background-color: #gray;
                padding: 50px;
                font-size: small;
            }

            .alina-gallery-wrapper .img-hobbies {
                height: 100px;
                width: auto;
            }

            .alina-wrapper {
                height: 100px;
                width: auto;
            }

            .alina-text-block {
                position: absolute;
                top: 80px;
                left: 17px;
                color: black;
                font-size: 14px;
                font-family: calibri, cursive;
                text-align: center;
                background-color: white;
                width: 100px;
                height: 20px;
            }

            .alina-wrapper-albums {
                position: relative;
                display: inline-block;
            }

            .alina-text-block-albums {
                position: absolute;
                bottom: 20px;
                left: 17px;
                color: white;
                font-size: 15px;
                font-family: calibri, cursive;
                text-align: center;
                background-color: darkgray;
                width: 100px;
                height: 20px;
            }
        }*/

        @media screen and (min-width: 768px) {
            .alina-body {
                background-color: greenyellow;
                padding: 50px;
                font-size: small;
            }

            .alina-gallery-wrapper .img-hobbies {
                height: 100px;
                width: auto;
            }

            .alina-wrapper {
                height: 100px;
                width: auto;
            }

            .alina-text-block {
                position: absolute;
                top: 80px;
                left: 17px;
                color: black;
                font-size: 14px;
                font-family: calibri, cursive;
                text-align: center;
                background-color: white;
                width: 100px;
                height: 20px;
            }

            .alina-wrapper-albums {
                position: relative;
                display: inline-block;
            }

            .alina-text-block-albums {
                position: absolute;
                bottom: 20px;
                left: 17px;
                color: white;
                font-size: 15px;
                font-family: calibri, cursive;
                text-align: center;
                background-color: darkgray;
                width: 100px;
                height: 20px;
            }
        }

        @media screen and (min-width: 992px) {
            .alina-body {
                background-color: #a3dbef;
                padding: 50px;
                font-size: small;
            }

            .alina-gallery-wrapper .img-hobbies {
                height: 130px;
                width: auto;
            }

            .alina-wrapper {
                height: 130px;
                width: auto;
            }

            .alina-text-block {
                position: absolute;
                top: 200px;
                left: 17px;
                color: black;
                font-size: 30px;
                font-family: calibri, cursive;
                text-align: center;
                background-color: white;
                width: 300px;
                height: 40px;
            }

            .alina-wrapper-albums {
                height: 300px;
                width: auto;
                top: 100px;
                left: 17px;
                color: black;
                font-size: 15px;
                font-family: calibri, cursive;
                text-align: center;
                background-color: white;

            }

            .alina-wrapper-albums {
                position: relative;
                display: inline-block;
            }

            .alina-text-block-albums {
                position: absolute;
                bottom: 20px;
                left: 17px;
                color: white;
                font-size: 20px;
                font-family: calibri, cursive;
                text-align: center;
                background-color: darkgray;
                width: 300px;
                height: 30px;
            }
        }

        @media screen and (min-width: 1200px) {
            .alina-body {
                background-color: #faf9d5;
                padding: 50px;
                font-size: 18px;     }

            .alina-gallery-wrapper .img-hobbies {
                height: 300px;
                width: auto;
            }

            .alina-wrapper {
                height: 300px;
                width: auto;
            }

            .alina-text-block {
                position: absolute;
                top: 200px;
                left: 17px;
                color: black;
                font-size: 30px;
                font-family: calibri, cursive;
                text-align: center;
                background-color: white;
                width: 300px;
                height: 40px;
            }

            .alina-wrapper-albums {
                height: 300px;
                width: auto;
            }

            .alina-text-block-albums {
                position: absolute;
                bottom: 20px;
                left: 17px;
                color: white;
                font-size: 20px;
                font-family: calibri, cursive;
                text-align: center;
                background-color: darkgray;
                width: 300px;
                height: 30px;
            }
        }
