.alina-body {
    background-color: #faf9d5;
    font-size: 14px;
}

.block-sticky {
    position: sticky;
    top: 0;
    display: inline-block;
    margin-left: 60px;
    margin-right: 30px;
    padding-left: 30px;
    padding-bottom: 10px;
    background: white;
}

.alina-header {
    color: #FF69B4;
    font-size: 40px;
    font-family: Arial, Verdana, sans-serif;
}

.alina-lists {
    color: #FF69B4;
    font-size: 16px;
    font-family: Arial, Verdana, sans-serif;
    text-decoration: underline;
}

.alina-main-text {
    text-align: justify;
    margin-left: 60px;
    margin-right: 10px;
    border-left: 1px solid #999;
    border-bottom: 1px solid #999;
    padding-left: 10px;
    padding-bottom: 10px;
    background: white;
    font-size: 20px;
}

.alina-work {
    text-align: justify;
    margin-left: 60px;
    margin-right: 10px;
    border-left: 1px solid #999;
    border-bottom: 1px solid #999;
    padding-left: 10px;
    padding-bottom: 10px;
    background: white;
}

.alina-work:hover {
    text-align: justify;
    border-radius: 10%;
    margin-left: 60px;
    margin-right: 10px;
    border-left: 1px solid #999;
    border-bottom: 1px solid #999;
    padding-left: 10px;
    padding-bottom: 10px;
    background: purple;
}

.alina-block {
    box-sizing: border-box;
    background: #8b00ff;
    display: block;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin: 20px 30px 40px 30px;
    border: 5px solid pink;
    padding: 40px;
    position: relative;
}

.alina-block:hover {
    box-sizing: border-box;
    background: green;
    display: block;
    height: 200px;
    width: 200px;
    margin: 20px 30px 40px 30px;
    border: 5px dotted purple;
    padding: 40px;
}

.alina-hobbies {
    box-sizing: border-box;
    background: pink;
    display: block;
    height: 100px;
    width: 200px;
    border-radius: 10%;
    margin: 20px 30px 40px 30px;
    border: 5px solid pink;
    padding: 40px;
    position: relative;
}

.alina-wrapper {
    position: relative;
    display: inline-block;
}

.alina-text-block {
    position: absolute;
    top: 200px;
    left: 17px;
    color: black;
    font-size: 30px;
    font-family: calibri, cursive;
    text-align: center;
    background-color: white;
    width: 300px;
    height: 40px;
}

.alina-gallery-wrapper .img-hobbies {
    display: inline-block;
    margin: 15px;
    border: 2px solid black;
    border-radius: 10%;
    box-shadow: 10px 5px 5px gray;
}

.alina-wrapper-albums {
    position: relative;
    display: inline-block;
}

.alina-text-block-albums {
    position: absolute;
    bottom: 20px;
    left: 17px;
    color: white;
    font-size: 20px;
    font-family: calibri, cursive;
    text-align: center;
    background-color: darkgray;
    width: 200px;
    height: 30px;
}

.parent {
    position: relative;
    top: 150px;
    height: 200px;
}

.child-0 {
    display: inline-block;
    background: red;
    padding: 20px;
    border: 5px solid black;
    color: white;
    z-index: 3;
}

.child-1 {
    display: inline-block;
    background: yellow;
    padding: 20px;
    border: 5px solid black;
    color: white;
    z-index: 2;
}

.child-2 {
    display: inline-block;
    background: green;
    padding: 20px;
    border: 5px solid black;
    color: white;
    z-index: 1;
}

.absolute {
    position: absolute;
}

.alina-hover-button {
    padding: 10px 20px;
    font-size: 18px;
    background: grey;
    color: white;
    border-radius: 3px;
    outline: none;
    transition: all 0.2s ease-in-out;
}

.alina-hover-button:hover {
    background: #FFD700;
    font-size: 22px;
    font-weight: bold;
    cursor: pointer;
}

.alina-flex-container-hobbies {
    display: flex;
    background: transparent;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
}

.alina-flex-container-books {
    display: flex;
    background-color: #8b00ff;
    opacity: 50%;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
}

.alina-flex-container-albums {
    display: flex;
    background-color: #a3dbef;
    opacity: 100%;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
}

/*.alina-block-animation {
    width: 150px;
    height: 150px;
    background: blueviolet;
    position: relative;
    animation: numberone 5s;
    text-align: center;
    font-size: 20px;
    color: white;
    border-radius: 50%;
    animation-direction: normal;
}


@keyframes numberone {
    0%   {background: blueviolet; left: 0px; top: 0px;}
    25%  {background: blueviolet; left: 0px; top: 200px;}
    50%  {background: blueviolet; left: 200px; top: 200px;}
    75%  {background: blueviolet; left: 200px; top: 400px;}
   100% {background: blueviolet; left: 0px; top: 0px;}
}
*/

.alina-run-line {
    position: relative;
    width: auto;
    height: 30px;
    margin: 50px -200px;
    text-align: left;
    font-size: 20px;
    color: red;
    letter-spacing: 15px;
    animation: marquee linear 8s infinite;
}

@keyframes marquee {
    from {
        transform: translateX(-100px);
    }
    to {
        transform: translateX(100%);
}


     /* The Modal (background) */
     .modal {
         display: none; /* Hidden by default */
         position: fixed; /* Stay in place */
         z-index: 1; /* Sit on top */
         left: 0;
         top: 0;
         width: 100%; /* Full width */
         height: 100%; /* Full height */
         overflow: auto; /* Enable scroll if needed */
         background-color: rgb(0,0,0); /* Fallback color */
         background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
     }

     /* Modal Content/Box */
     .modal-content {
         background-color: #fefefe;
         margin: 15% auto; /* 15% from the top and centered */
         padding: 20px;
         border: 1px solid #888;
         width: 80%; /* Could be more or less, depending on screen size */
     }

     /* The Close Button */
     .close {
         color: #aaa;
         float: right;
         font-size: 28px;
         font-weight: bold;
     }

     .close:hover,
     .close:focus {
         color: black;
         text-decoration: none;
         cursor: pointer;
     }

/*.alina-flex-container-smile {
    display: flex;
    background-color: red;
    border-radius: 10px;
}

.alina-flex-container-smile > div {
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    margin: 10px;
    padding: 20px;
}

.alina-smile-wrapper {
    height: 150px;
    width: 150px;
}

.alina-smile-rotate {
    position: relative;
    width: auto;
    animation: rotating 3s linear infinite;
}

@keyframes rotating {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.alina-hover-image-wrapper .img-smile {
    box-shadow: 10px 5px 5px #001f33;
    padding: 10px 20px;
    transition:  0.2s ease-in-out;
    width: 100%;
    height: 100%;
}

.alina-hover-image-wrapper:hover {
    cursor: pointer;
    width: 120%;
    height: 120%;
}
 */

.alina-container {
   display: inline-block;
    border: 3px solid blue;
    
}



