.artem-html {
    scroll-behavior: smooth;
    font-size: 16px;
}
.artem-page {
    background-image: url("../images/artem/background.jpg");
    background-size: cover;
}
.artem-header-navigation {
    display: flex;
    align-items: center;
    padding: 5px;
    background-color: #6D9DB4;
    font-family: "Helvetica Neue", sans-serif;
    position: sticky;
    top: 0;
    width: 100%;
    opacity: 80%;
    z-index: 4;
}
.artem-header-item {
    padding: 5px 10px;
    font-size: 15px;
    margin-left: 5px;
}
.artem-header-logo:hover {
    transform: scale(1.5);

}
.artem-header-button:hover {
    cursor: pointer;
    transform: scale(1.2);
    background-color: #364C71;
    border-radius: 4px;
}
.artem-header-logo {
    height: 50px;
    transition: .3s ease-in-out;

}
.artem-header-button {
    height: 35px;
}

.artem-header-button {
    border: 1px solid black;
    padding: 5px;
}

#home {
    padding-top: 80px;
}

.artem-bio-title {
    position: relative;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 10px;
    z-index: 3;
}
.artem-bio-subtitle {
    font-size: 25px;
    text-align: center;
}
.artem-bio-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: 300px;
    border-radius: 50%;
}
.artem-bio-description {
    width: 700px;
    text-align: center;
    margin: auto;
}
.artem-work-column {
    text-align: center;
    padding-top: 30px;
}

.artem-gallery-img {
    height: 16rem;
}

.artem-work-pics {
    display: inline-block;
    margin-bottom: 30px;
}
.artem-work-pics:hover {
    transform: scale(1.2);
    transition: transform .3s;
    color: transparent;
}
.artem-pics-title {
    font-size: 20px;
}

/*new gifs block*/
.artem-gif-wrapper {
    position: relative;
}
.artem-gif-gallery {
    display: flex;
    justify-content: center;
}
.artem-gallery-title {
    text-align: center;
    font-size: 20px;
}
.artem-left-gifbox {
    position: relative;
    margin: 30px;
}
.artem-right-gifbox {
    position: relative;
    margin: 30px;
}
.artem-left-gif {
    width: 350px;
    height: 300px;
}
.artem-right-gif {
    width: 350px;
    height: 300px;
}
.artem-left-pic {
    width: 350px;
    height: 300px;
    box-shadow: 15px 10px 5px grey;
}
.artem-left-picbox:hover {
    opacity: 0;
    cursor: pointer;
}
.artem-left-picbox {
    position: absolute;
    top: 0;
    transition: opacity 1s ease-in-out;
}
.artem-right-pic {
    width: 350px;
    height: 300px;
    box-shadow: 15px 10px 5px grey;
}
.artem-right-picbox:hover {
    opacity: 0;
    cursor: pointer;
}
.artem-right-picbox {
    position: absolute;
    top: 0;
    transition: opacity 1s ease-in-out;
}
.position-rel {
    position: relative;
    width: 100%;
    background: red;
    height: 200px;
}
.artem-arrow-up {
    position: absolute;
    margin-top: 280px;
    right: 10px;
    bottom: 0;
}
.artem-arrow-img {
    height: 50px;
    width: 50px;
}

@media (max-width: 760px) {
    .artem-html {
        color: #ff0000;
        font-size: 0.8rem;
    }
}
@media (max-width: 1039px) {
    .artem-gallery-img {
        height: 12rem;
    }
}
@media (max-width: 950px) {
    .artem-gallery-img {
        height: 10rem;
    }
}
@media (max-width: 810px) {
    .artem-gallery-img {
        height: 7rem;
    }
}
.artem-cloud-one {
    height: 300px;
    width: 400px;
    position: absolute;
    opacity: 0.8;
    top: 450px;
    animation: first-cloud linear 20s  infinite reverse;
}
.artem-cloud-two {
    height: 200px;
    width: 300px;
    position: absolute;
    opacity: 0.8;
    top: 200px;
    animation: second-cloud linear 35s  infinite reverse;
}
.artem-plane {
    height: 40px;
    width: 50px;
    position: absolute;
    opacity: 0.8;
    top: 350px;
    animation: plane linear 60s  infinite reverse;
}
@keyframes plane {
    from {
        left:-450px;
    }
    to {
        left: 120%;
    }
}
@keyframes first-cloud {
    from {
        left:-450px;
    }
    to {
        left: 120%;
    }
}
@keyframes second-cloud {
    from {
        left:-450px;
    }
    to {
        left: 120%;
    }
}
.margin-bottom {
    margin-bottom: 200px;
}
.artem-bmi-box-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    font-family: sans-serif;
    margin-left: 10%;
    margin-top: 50px;
    width: 40%;
    height: 400px;
    border: none;
    border-radius: 20px;
    background: rgba(123, 173, 204, 0.3) /*background-color with 30% opacity */
}
.artem-bmi-box-title {
    font-family: 'PT Serif', serif;
    bold: 700;
}
.artem-bmi-input {
    width: 200px;
    font-size: 20px;
    border: none;
    border-bottom: 2px solid grey;
    background-color: transparent;
    transition: ease-in-out, width .35s ease-in-out;
    color: black;
    font-family: 'PT Serif', serif;
}
.artem-bmi-input:focus {
    width: 230px;
    color: black;
    outline: none;
    font-family: 'PT Serif', serif;


}
.artem-bmi-input::-webkit-input-placeholder {
    color: white; /*Change the placeholder color*/
    opacity: 0.5; /*Change the opacity between 0 and 1*/
}
.bmi-calc {
    position: relative;
}
.artem-bmi-result {
    padding: 20px 10px 20px 10px;
    height: 300px;
    width: 500px;
    right: 100px;
    text-align: center;
    color: navajowhite;
    background: rgba(10, 14, 16, 0.63);
    border-radius: 20px;
    font-size: 22px;
    margin-top: 10px;
    font-family: 'PT Serif', serif;
    bold: 700;
    position: absolute;
}
.artem-bmi-submit {
    background-color: rgba(0, 157, 224, 0.8);
    height: 50px;
    width: 200px;
    border: none;
    border-radius: 10px;
    color: white;
    font-family: 'PT Serif', serif;
    font-size: 18px;
    transition: .3s;
}
.artem-bmi-submit:hover {
    background-color: rgba(10, 14, 16, 0.63);
    width: 250px;
    cursor: pointer;
    /*color: rgba(0, 157, 224, 0.8);*/
    box-shadow: 15px 10px 5px black;
}
.artem-bmi-submit:focus {
    outline: none;
}
