* {
    padding: 0;
    margin: 0;
    font-font: sans-serif;
}
/*.artem-header:hover {*/
/*    border-bottom: 1px solid white;*/
/*    transition: 1s ease;*/
/*}*/
.artem-header img {
    height: 70px;
    width: 70px;
    background-color: white;
    border-radius: 90%;
    margin: 5px 0 5px 10px;

}
.artem-main-page {
    background: #000;
}
.artem-greeting-wrapper {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.artem-greeting-first-text,
.artem-greeting-second-text {
    text-transform: uppercase;
    display: block;
    white-space: nowrap;
    color: white;
}
.artem-greeting-first-text {
    font-family: "Black Ops One";
    font-size: 3.5rem;
    font-weight: 700;
    letter-spacing: 8px;
    margin-bottom: 20px;
    background: black;
    position: relative;
    animation: text 2s 1;
}
.artem-greeting-second-text {
    font-family: "Black Ops One";
    font-size: 30px;
}
@keyframes text {
    0% {
        color: black;
        margin-bottom: -40px;
    }
    30% {
        letter-spacing: 25px;
        margin-bottom: -40px;
    }
    85% {
        letter-spacing: 8px;
        margin-bottom: -40px;
    }
}
