.helena-header {
    color: #000080;
    font-family: "Microsoft YaHei UI", serif;
    text-align: center;
}
.helena-title {
    color: #000080 ;
    font-family: "Microsoft YaHei UI", serif;
    text-align: center;
    font-weight: 700;
    font-size: 60px;
}
.helena-story {
    color: Maroon;
    font-size: 40px;
    text-align: center;
    font-family: "Microsoft YaHei UI", serif
}
.helena-background-image {
    background-image: url(../images/Helena/Helenaa.png);
}
.helena-skills {
    display: table;
    background: #FFA07A;
    width: 50%;
    color: #1E90FF;
    border-spacing: 3px;
    font-size: 20px;
    margin: auto;
    font-family: "Trebuchet MS", serif;
    text-align: center;
    border-collapse: collapse;
}
.helena-list {
    background: #B0C4DE;
}
.helena-th {
    padding: 5px;
    border: 4px solid#5F9EA0;
}
.helena-td {
    padding: 5px;
    border: 4px solid #5F9EA0;
}
.helena-text-about-video {
    text-align: center;
    font-size: 200%;
    color: maroon;
    font-family: "Microsoft YaHei UI", serif;
}
.helena-center-video {
    text-align: center;
}
.helena-center-img {
    text-align: center;
    font-size: 24px;
    color: navy;
    background: #20B2AA;
}
.helena-block {
    display: block;
    color: #191970;
    font-size: 30px;
    text-align: center;
    padding: 10px;
    margin: 10px;
    border: 10px solid maroon;
    background: #4682B4;
}
.helena-span {
    display: inline-block;
    background: #20B2AA;
    padding: 50px;
    margin: auto;
    border: 5px; solid-color: #4682B4;
    color: aqua;
    position: relative;
    bottom: 30px;
    left: 50px;
    top: 0;
    text-align: center;
}
.helena-span:hover {
    background: navy;
    margin: 60px;
}
.helena-information-block {
    display: block;
    color: #191970;
    font-size: 30px;
    text-align: center;
    padding: 30px;
    margin: 30px;
    border: 5px solid maroon;
    background: darkcyan ;
}
.helena-information-block:hover {
    background: cyan;
    margin: 60px;
}
.helena-poster {
    position: relative;
    margin: 100px auto;
    background: #4169E1;
    height: 400px;
    width: 400px;
    text-align: center;
    font-size: 150%;
}
.helena-main-responsibilities {
    display: none;
    margin-left:-350px;
    padding: 10px;
    margin-top: 17px;
    background: #4B0082;
    height: 200px;
    font-size: 150%;
}
.helena-poster:hover .helena-main-responsibilities {
    display: block;
    background: #4682B4;
    position: center;
    top: 300px;
    height: 300px;
    width: 500px;
    text-align: center;
    font-size: 150%;
    color: maroon;
    font-family: "Microsoft YaHei UI", serif;
}
.helena-site {
    display: block;
    background-color: #20B2AA;
    height: 100px;
    width: 400px;
    color: lightblue;
    font-size: 50px;
    text-align: center;
    position: sticky;
    top: 0;
    padding: 16px;
    margin: 0 auto;
    border: 5px solid #6B8E23;
}
.helena-wrapper {
    position: relative;
    display: inline-block;
    color: #8A2BE2;
    font-size: 40px;
}
.helena-text-block {
    position: absolute;
    top: 0;
    right: 160px;
    background: lightblue;
}
.helena-text-block:hover {
    display: block;
    background: lightblue;
    position: center;
    top: 300px;
    height: 100px;
    width: 300px;
    text-align: center;
    font-size: 70px;
    color: #8A2BE2;
    font-family: "Microsoft YaHei UI", serif;
}
.helena-gallery-wrapper .helena-gallery {
    border: 5px solid darkcyan;
    max-width: 300px;
    max-height: 300px;
    text-align: center;
    left: 100px;
    box-shadow: 10px 10px 8px 10px black;
    height: 250px;
    width: 350px;
    margin: 80px;
}
.helena-panda-gallery {
    text-align: center;
    font-size: 40px;
    color: navy;
}
.helena-countries-gallery .countries-gallery {
    display: flex;
    height: 450px;
    width: 450px;
    border: 10px deepskyblue;
    box-shadow: 0 0 30px blue;
    left: 100px;
    flex-wrap: wrap;
    border-radius: 20%;
    justify-content: center;
    align-items: center;
}
.helena-countries-gallery-title {
   text-align: center;
    color: #191970;
    font-size: 50px;
}
.helena-countries-gallery-wrapper {
    position: relative;
    display: inline-block;
    margin: 20px;
}
.helena-countries-gallery-text {
    position: absolute;
    right: 30px;
    font-size: 20px;
    color: brown;
    background: lightseagreen;
    top: 0;
}
.helena-animals-img .animals-img {
    display: flex;
    flex-direction: row-reverse;
    width: 250px;
    height: 250px;
    border: 5px solid #85edc7;
    margin: auto;
    position: relative;
    left: 100px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    box-shadow: -30px -20px 10px black;
}
.helena-animals-img-title {
    text-align: center;
    color: #000080;
    font-size: 50px;
}
.helena-animals-img-wrapper {
    position: relative;
    display: inline-block;
    margin: 20px;
}
.helena-animals-img-text {
    position: absolute;
    right: 30px;
    font-size: 20px;
    color: #8B008B;
    background: #9370DB;
    top: 0
}
.hover-button {
    background-color: #4CAF50;
    border: none;
    color: blue;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 4px 2px;
    cursor: pointer;
    position: relative;
    left: 50%;
    transition: all .4s ease;
}
.hover-button:hover {
    background: #8b00ff;
    cursor: pointer;
}
.circle {
    position: absolute;
    left: 0;
    bottom: -30%;
    width: 10em;
    height: 10em;
    margin-left: -2.5em;
    margin-top: 0;
    background: orangered;
    border-radius: 50%;
    box-shadow: 0 0 20px orange;
    animation: 15s infinite linear;
    animation-name: circle-move, circle-color;
    font-size: 10px;
    text-align: center;
    transform: rotateX(6turn);
}
@keyframes circle-move {
    0%  {top: 0;}
    25% {top: 200px; left: 0;}
    50% {top: 200px; left: 100px;}
    75% {top: 400px; left: 100px;}
    100% {top: 0; left: 0;}
}
@keyframes circle-color {
    20% {background: orange;}
    40% {background: sienna; box-shadow: 0 0 35px gold;}
    60% {background: darkviolet; box-shadow: 0 0 35px yellow;}
    80% {background: orange;}
}
.line {
    width:100%;
    white-space:nowrap;
    overflow:hidden;
}
.line span {
    color: #212121;
    font-size: 25px;
    display: inline-block;
    padding-left: 100%;
    -webkit-animation: helena-line 10s infinite linear;
    animation: helena-line 20s infinite linear;
    animation-direction: normal;
    background: mediumorchid ;
    transform: rotateY(5turn);
}
@-webkit-keyframes line {
    0% {-webkit-transform: translate(0, 0);}
    100% {-webkit-transform: translate(-100%, 0); }
}
@keyframes line {
    0% {transform: translate(0, 0);}
    100%{transform: translate(-100%, 0)}
}
.earth {
    background-image: url('https://encrypted-tbn3.google.com/images?q=tbn:ANd9GcTQqoB4xBnIkmUg5pxDyYW2h0Q1pRTsbQBOfhg-E-y4iLFicsyi');
    width: 70px;
    height: 70px;
    /* a black shadow from left and white from right */
    box-shadow: inset 16px 0 40px 3px rgba(0,0,0,0.9),
    inset -3px 0 5px 2px rgba(255,255,255,0.16);
    background-size: 190px;
    margin: 80px auto;
    border-radius: 50%;
    position: relative;
    animation-name: move,scale,rotate;
    animation-duration: 6s,6s,6s;
    animation-iteration-count: infinite,infinite,infinite;
    animation-timing-function: ease-in-out,linear,linear;
}
@keyframes move {
    0%   { left: 200px;  }
    70%  { left: -200px; }
    100% { left: 200px;  }
}
@keyframes scale {
    0%  { transform: scale(1);}
    32% { transform: scale(0.4); animation-timing-function:  ease-in;}
    70% { transform: scale(1); animation-timing-function:  ease-in;}
    75% { transform: scale(1.2);  animation-timing-function:  ease-in-out;}
    86% { transform: scale(2);}
    98% { transform: scale(1.2);}
    100%{ transform: scale(1);}
}
@keyframes rotate {
    0% { background-position: 0; }
    100% { background-position: 190px; }
}
.click-me-button{
    background: midnightblue;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 4px 2px;
}
.sidenav {
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: darkorange;
    display: block;
    transition: 0.3s;
}
.sidenav a:hover {
    color: #f1f1f1;
}
.sidenav .helen-close-btn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
.helen-image {
    display: block;
    height: 200px;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 100px;
    border: 3px ;
}
.helen-wrapper {
    position: relative;
}
.helen-close-btn {
    background: midnightblue;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 4px 2px;
}
.person {
    border: 2px solid black;
    display: inline-block;
    margin: 20px;
    padding: 10px;
    border-radius: 20px;
    height: 200px;
    width: 300px;
    left: 100px;
    text-align: center;
}
.person:hover   {
    background: darkorange ;
}
.person p:hover {
    background: brown;
    transform: scale(1.1);
    border-radius: 5px;
    color: greenyellow;
    border: 2px solid green;
}
.container {
    padding: 0 15px;
}
.productsarray {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2) ;
    max-width: 300px;
    margin: auto;
    text-align: center;
}
.productsarray:hover{
    background: whitesmoke;
}
.product-wrapper {
    position: relative;

}
.tv-set-image {
    display: flex;
    flex-direction: row-reverse;
    height: 90%;
    width: 90%;
    margin-left: 3%;
    margin-right: 10%;
    border-radius: 10%;
    color: black;
}
.price {
    color: black;
    font-size: 22px;
}
.card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: darkgreen;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}
.card button:hover {
    opacity: 0.7;
}
.vacum-cleaner-image {
    display: flex;
    flex-direction: row-reverse;
    background: #1E90FF;
    height: 90%;
    width: 90%;
    margin-left: 3%;
    margin-right: 10%;
    border-radius: 10%;
    color: black;
}
.container {
    padding: 0 15px;
}
.animal {
    border: 2px solid gray;
    display: inline-block;
    padding: 10px;
    background: #8fd19e;
}

