@media (min-width: 576px) {
    .kate-homepage {
        height: 70px;
        width: 200px;
        font-size: 25px;
    }
    .kate-title {
        font-size: 25px;
        margin-left: 35px;
    }
    .kate-info {
        font-size: 21px;
    }
    .kate-linkedin {
        height: 60px;
        width: 200px;
        font-size: 23px;
        margin: 20px 60px 30px 70px;
    }
    .kate-text-block {
        font-size: 150%;
    }
    .kate-qualities {
        font-size: 20px;
    }
    .kate-gallery-gif .corgi-gif {
        height: 140px;
        width: 200px;
    }
    .kate-gallery-gif-text {
        font-size: 100%;
        bottom: 5%;
        right: 30%;
    }
    .kate-gallery-img .corgi-img {
        height: 200px;
        width: 200px;
    }
    .kate-gallery-img-text {
        font-size: 100%;
        bottom: 8%;
        right: 25%;
    }
    .kate-button {
        font-size: 100%;
    }
    .kate-open-modal {
        font-size: 70%;
    }
    .kate-modal-text-pembroke {
        font-size: 60%;
    }
    .kate-modal-text-cardigan {
        font-size: 60%;
    }
    .kate-modal-image-pembroke {
        height: 40%;
        width: 30%;
    }
    .kate-modal-image-cardigan {
        height: 40%;
        width: 30%;
    }
    .kate-sidenav a {
        font-size: 14px;
    }
    .kate-tableware {
        margin: 5px;
        padding: 3px;
        width: 130px;
        height: 165px;
        font-size: 7px;
    }
    .kate-tableware-img {
        height: 80px;
        width: 80px;
    }
    .kate-sidenav {
        width: 120px;
    }
    .kate-button-style {
        width: 25px;
        height: 4px;
    }
    .kate-comments {
        margin: 5px;
        padding: 3px;
        width: 130px;
        height: 165px;
        font-size: 7px;
    }
    .kate-committer-image {
        height: 60px;
        width: 60px;
    }
    .kate-committer-info {
        font-size: 8px;
    }
}

@media (min-width: 768px) {
    .kate-homepage {
        height: 80px;
        width: 230px;
        font-size: 27px;
    }
    .kate-title {
        font-size: 28px;
        margin-left: 40px;
    }
    .kate-info {
        font-size: 23px;
    }
    .kate-linkedin {
        height: 70px;
        width: 220px;
        font-size: 25px;
        margin: 20px 60px 30px 80px;
    }
    .kate-text-block {
        font-size: 200%;
    }
    .kate-qualities {
        font-size: 23px;
    }
    .kate-gallery-gif .corgi-gif {
        height: 180px;
        width: 210px;
    }
    .kate-gallery-gif-text {
        font-size: 110%;
        right: 30%
    }
    .kate-gallery-gif-wrapper {
        margin: 10px 2px 2px 20px;
    }
    .kate-gallery-img-text {
        font-size: 110%;
    }
    .kate-gallery-img .corgi-img {
        height: 210px;
        width: 210px;
    }
    .kate-gallery-img-wrapper {
        margin: 10px 2px 2px 20px;
    }
    .kate-string {
        font-size: 18px;
    }
    .kate-button {
        font-size: 120%;
    }
    .kate-open-modal {
        font-size: 90%;
    }
    .kate-modal-text-pembroke {
        font-size: 80%;
    }
    .kate-modal-text-cardigan {
        font-size: 80%;
    }
    .kate-modal-image-pembroke {
        height: 45%;
        width: 35%;
    }
    .kate-modal-image-cardigan {
        height: 45%;
        width: 35%;
    }
    .kate-sidenav a {
        font-size: 16px;
    }
    .kate-tableware {
        margin: 7px;
        padding: 4px;
        width: 150px;
        height: 195px;
        font-size: 9px;
    }
    .kate-tableware-img {
        height: 90px;
        width: 90px;
    }
    .kate-sidenav {
        width: 140px;
    }
    .kate-comments {
        margin: 7px;
        padding: 4px;
        width: 150px;
        height: 195px;
        font-size: 7px;
    }
    .kate-committer-image {
        height: 90px;
        width: 90px;
    }
}

@media (min-width: 992px) {
    .kate-homepage {
        height: 70px;
        width: 250px;
        font-size: 30px;
    }
    .kate-title {
        font-size: 30px;
        margin-left: 40px;
    }
    .kate-info {
        font-size: 25px;
    }
    .kate-linkedin {
        height: 65px;
        width: 220px;
        font-size: 25px;
        margin: 20px 60px 30px 80px;
    }
    .kate-qualities {
        font-size: 25px;
    }
    .kate-gallery-gif .corgi-gif {
        height: 200px;
        width: 230px;
    }
    .kate-gallery-gif-wrapper {
        margin: 20px 10px 10px 30px;
    }
    .kate-gallery-gif-text {
        font-size: 130%;
    }
    .kate-gallery-img .corgi-img {
        height: 230px;
        width: 230px;
    }
    .kate-gallery-img-wrapper {
        margin: 20px 10px 10px 20px;
    }
    .kate-gallery-img-text {
        font-size: 100%;
        bottom: 6%;
        right: 25%;
    }
    .kate-gallery-gif .corgi-gif {
        height: 180px;
        width: 210px;
    }
    .kate-gallery-gif-wrapper {
        margin: 20px 10px 10px 30px;
    }
    .kate-gallery-gif-text {
        font-size: 100%;
        right: 20%;
    }
    .kate-string {
        font-size: 21px;
    }
    .kate-corgi-string {
        height: 150px;
        width: 150px;
    }
    .kate-button {
        font-size: 130%;
    }
    .kate-open-modal {
        font-size: 110%;
    }
    .kate-modal-text-pembroke {
        font-size: 90%;
    }
    .kate-modal-text-cardigan {
        font-size: 90%;
    }
    .kate-sidenav a {
        font-size: 20px;
    }
    .kate-tableware {
        margin: 8px;
        padding: 2px;
        width: 200px;
        height: 250px;
        font-size: 12px;
    }
    .kate-tableware-img {
        height: 110px;
        width: 110px;
    }
    .kate-sidenav {
        width: 200px;
    }
    .kate-button-style {
        width: 30px;
        height: 5px;
    }
    .kate-comments {
        margin: 8px;
        padding: 2px;
        width: 200px;
        height: 250px;
        font-size: 10px;
    }
    .kate-committer-image {
        height: 110px;
        width: 110px;
    }
    .kate-committer-info {
        font-size: 10px;
        margin-left: 5px;
    }
}

@media (min-width: 1200px) {
    .kate-homepage {
        height: 80px;
        width: 300px;
        font-size: 35px;
    }
    .kate-title {
        font-size: 40px;
        margin-left: 50px;
    }
    .kate-info {
        font-size: 30px;
    }
    .kate-linkedin {
        height: 70px;
        width: 220px;
        font-size: 25px;
        margin: 30px 60px 30px 80px;
    }
    .kate-qualities {
        width: 70%;
    }
    .kate-gallery-gif .corgi-gif {
        height: 230px;
        width: 300px;
    }
    .kate-gallery-img-text {
        font-size: 120%;
        bottom: 5%;
        right: 30%;
    }
    .kate-gallery-img .corgi-img {
        height: 300px;
        width: 300px;
    }
    .kate-gallery-gif-text {
        font-size: 130%;
        bottom: 2%;
        right: 20%;
    }
    .kate-string {
        font-size: 25px;
    }
    .kate-corgi-string {
        height: 200px;
        width: 200px;
    }
    @keyframes kate-corgi-string {
        0%   {left:0; top:0;}
        25%  {left:300px; top:-50px;}
        50%  {left:600px; top:0;}
        75%  {left:900px; top:-50px;}
        100% {left:1200px; top:0;}
    }
    .kate-button {
        font-size: 140%;
    }
    .kate-open-modal {
        font-size: 140%;
    }
    .kate-modal-text-pembroke {
        font-size: 120%;
    }
    .kate-modal-text-cardigan {
        font-size: 120%;
    }
    .kate-sidenav a {
        font-size: 25px;
    }
    .kate-tableware {
        margin: 25px;
        padding: 8px;
        width: 250px;
        height: 300px;
        font-size: 12px;
    }
    .kate-tableware-img {
        height: 150px;
        width: 150px;
    }
    .kate-sidenav {
        width: 250px;
    }
    .kate-button-style {
        width: 35px;
        height: 5px;
    }
    .kate-comments {
        margin: 25px;
        padding: 8px;
        width: 250px;
        height: 300px;
        font-size: 12px;
    }
    .kate-committer-image {
        height: 130px;
        width: 130px;
    }
    .kate-committer-info {
        font-size: 14px;
        margin-left: 7px;
        margin-bottom: 10px;
    }
}