* {
    box-sizing: border-box;
}

.kate-container {
    background-color: #e93eff;
    max-width: 100%;
    padding: 5%;
    overflow-x: hidden;
}

.kate-homepage {
    box-sizing: border-box;
    display: block;
    background-color: #fcd6ff;
    height: 60px;
    width: 150px;
    color: white;
    font-size: 20px;
    text-align: center;
    position: sticky;
    top: 0;
    padding: 10px;
    margin: 0 auto;
    border: 5px solid #ff85fb;
    z-index: 1;
    border-radius: 10px;
}

.kate-title {
    color: white;
    font-family: "Sitka Small", serif;
    font-size: 20px;
    margin-left: 25px;
}

.kate-info {
    text-align: justify;
    color: #cb73ff;
    font-size: 17px;
    font-family: "Trebuchet MS", serif;
    padding: 2%;
    background: #fff4f6;
    border-radius: 5px;
}

.kate-linkedin {
    box-sizing: border-box;
    display: block;
    background-color: #c1dbff;
    height: 50px;
    width: 150px;
    color: white;
    font-size: 20px;
    text-align: center;
    padding: 16px;
    margin: 20px 50px 30px 50px;
    border: 1px solid #c3a2ed;
    border-radius: 5px;
}

.kate-linkedin:hover {
    background-color: #ffc1be;
    height: 150px;
    width: 200px;
    color: white;
    font-size: 30px;
    border: 5px solid #ffdecc;
    border-radius: 100px;
}

.kate-photo-block {
    box-sizing: border-box;
    position: relative;
    display: block;
}

.kate-image {
    height: 90%;
    width: 90%;
    margin-left: 3%;
    margin-right: 10%;
    border-radius: 10%;
}

.kate-wrapper {
    position: relative;
    display: inline-block;
}

.kate-text-block {
    position: absolute;
    bottom: 5%;
    right: 35%;
    font-family: "Trebuchet MS", serif;
    font-size: 120%;
    text-align: justify;
    color: white;
    background-color: #ff95ea;
    border-radius: 10%;
    margin-bottom: 2%;
}

.kate-qualities {
    display: table;
    width: 95%;
    background: white;
    color: white;
    border-spacing: 1px;
    margin: 5%;
    font-size: 100%;
}

.kate-skills {
    background: #ff4497;
}

.kate-gallery-gif .corgi-gif {
    height: 70%;
    width: 90%;
    border: 10px dotted #c3a2ed;
    box-shadow: 0 0 10px #F069FF;
}

.kate-gallery-gif {
    display: flex;
    flex-wrap: wrap;
    background-color: #d9eeff;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 20px;
    border-radius: 50px;
}

.kate-gallery-gif-wrapper {
    position: relative;
    display: inline-block;
    margin: 10px;
}

.kate-gallery-gif-text {
    position: absolute;
    bottom: 10%;
    right: 20%;
    font-size: 80%;
    color: white;
    background: #ff4d52;
    margin-bottom: 4%;
}

.kate-gallery-img .corgi-img {
    height: 90%;
    width: 90%;
    border: 5px solid white;
    border-radius: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.kate-gallery-img {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #ffcbdb;
    margin: 20px;
    padding: 20px;
    border-radius: 50px;
}

.kate-gallery-img-wrapper {
    position: relative;
    display: inline-block;
    margin: 10px;
}

.kate-gallery-img-text {
    position: absolute;
    bottom: 10%;
    right: 26%;
    font-size: 80%;
    color: white;
    background: #ff4d52;
    border-radius: 5%;
}

.kate-string {
    position: relative;
    animation: kate-string 6s linear infinite;
    font-size: 15px;
    color: #ba38ff;
}

.kate-string-bg {
    background-color: #ffd6f6;
    overflow: hidden;
    margin: 3px;
}

@keyframes kate-string {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(100%);
    }
}

/*.kate-corgi-string {*/
/*    position: relative;*/
/*    animation: kate-corgi-string 10s linear infinite;*/
/*    height: 100px;*/
/*    width: 100px;*/
/*}*/

/*@keyframes kate-corgi-string {*/
/*    from {*/
/*        left: -100px;*/
/*    }*/
/*    to {*/
/*        left: 100%;*/
/*    }*/
/*}*/

.kate-gallery-gif-wrapper:hover {
    animation: kate-gallery-gif-wrapper 1s ease-in-out infinite;
    animation-iteration-count: 1;
}

@keyframes kate-gallery-gif-wrapper {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}

.kate-gallery-img-wrapper:hover {
    animation: kate-gallery-img-wrapper 3s ease-out infinite;
}

@keyframes kate-gallery-img-wrapper {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

.kate-modal {
    display: none;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0, 0, 0, 0.08);
    padding: 12px;
}

.kate-modal-content {
    background-color: antiquewhite;
    margin: 15%;
    padding: 2%;
    border: 1px solid #888;
    width: 50%;
    height: fit-content;
}

.kate-open-modal {
    color: #ff2f27;
    text-align: center;
    font-size: 60%;
    font-family: "Trebuchet MS", serif;
}

.kate-pembroke-block {
    display: flex;
}

.kate-modal-text-pembroke {
    color: #ff7a45;
    float: left;
    font-size: 50%;
    font-family: "Trebuchet MS", serif;
}

.kate-modal-image-pembroke {
    float: left;
    height: 35%;
    width: 25%;
    margin-left: 3%;
    margin-right: 10%;
    margin-bottom: 10%;
    border-radius: 10%;
}

.kate-cardigan-block {
    display: flex;
}

.kate-modal-text-cardigan {
    color: #ff7a45;
    float: right;
    font-size: 50%;
    font-family: "Trebuchet MS", serif;
}

.kate-modal-image-cardigan {
    height: 35%;
    width: 25%;
    float: right;
    margin-left: 3%;
    margin-right: 10%;
    border-radius: 10%;
}

.kate-close-modal {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.kate-close-modal:hover,
.kate-close-modal:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.kate-button {
    padding: 1%;
    width: fit-content;
    height: fit-content;
    background: #c6c1ff;
    font-size: 80%;
    text-align: center;
    color: floralwhite;
    border-radius: 10px;
    border: 5px solid lightyellow;
    margin: 30px;
    outline: none;
    transition: color 0.8s ease-out;
}

.kate-button:hover{
    background: #fca1ff;
    cursor: pointer;
    color: white;
}

.corgi-sidebar {
    height: 70%;
    width: 70%;
    margin-left: 10%;
    margin-bottom: 10%;
    border-radius: 50%;
}

.kate-sidenav {
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #992fff;
    background-image: url(../images/Kate-images/Kate-background.png);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    display: none;
    width: 80px;
}

.kate-sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 10px;
    color: #818181;
    transition: 0.3s;
}

.kate-sidenav a:hover {
    color: orange;
}

.kate-sidebar-button-close {
    display: none;
    width: fit-content;
}

.kate-sidebar-button-open {
    display: inline-block;
    width: fit-content;
}

.kate-button-style {
    width: 20px;
    height: 3px;
    background-color: white;
    margin: 6px 0;
}

.kate-main-content {
    transition: margin-left .5s;
    padding: 16px;
}

.kate-sidebar-image {
    border-radius: 50%;
}

.kate-sidebar-list {
    list-style-type: none;
    margin: 5px;
    padding: 0;
}

.kate-tableware-container {
    padding: 0 10px;
}

.kate-tableware {
    border-radius: 5px;
    padding: 2px;
    margin: 5px;
    display: inline-block;
    border: 5px solid #ffd7c3;
    width: 100px;
    height: 130px;
    font-size: 5px;
    text-align: center;
    font-family: "Trebuchet MS", serif;
    color: #ff59cd;
    background-color: #fff9df;
}

.kate-tableware:hover {
    animation: kate-tableware 1s ease-in-out infinite;
    animation-iteration-count: 1;
}

@keyframes kate-tableware {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.3);
    }
}

.kate-tableware-img {
    height: 60px;
    width: 60px;
}

.kate-comments-container {
    padding: 0 10px;
    display: block;
}

.kate-comments {
    border-radius: 6px;
    padding: 1px;
    margin: 4px;
    display: inline-block;
    border: 4px solid #ffcef4;
    width: 100px;
    height: 130px;
    font-size: 4px;
    text-align: center;
    font-family: "Trebuchet MS", serif;
    color: #6433ff;
    background-color: white;
}

.kate-committer-info {
    text-align:left;
    font-size: 7px;
    color: #a65aff;
}

.kate-committer-image {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

/*.container {*/
/*    padding: 0 15px;*/
/*}*/

/*.person {*/
/*    margin: 5px;*/
/*    border-radius: 5px;*/
/*    padding: 15px;*/
/*    display: inline-block;*/
/*    border: 1px solid black;*/
/*    background: rosybrown;*/
/*    color: brown;*/
/*}*/

/*.animal {*/
/*    border: 2px solid gray;*/
/*    display: inline-block;*/
/*    padding: 10px;*/
/*    background: #8fd19e;*/
/*    color: brown;*/
/*}*/