.liuda-background {
    background-image: url(../images/liuda/liuda-background1.png);
}
.liuda-home {
    position: relative;
    top:0;
}
.person {
    margin: 5px;
    padding: 15px;
    border-radius: 5px;
    display: inline-block;
    border: 3px solid midnightblue;
}
.animal {
    border: 2px solid gray;
    display: inline-block;
    padding: 10px;
    background: #8fd19e;
}
.book {
    display: inline-block;
    margin: 15px;
    padding: 7px;
    width: 200px;
    height: 300px;
    background-color: aliceblue;
    text-align: center;
    border-radius: 5px;
    border: 1px solid black;
}
.book:hover {
    transform: scale(1.1);
}
.book-image {
    border: 1px solid black;
    width: 100px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
}
.book-wrapper {
    position: relative;
    display: inline-block;
    margin: 15px;
}
.books-image-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}
.book-price {
    color: darkgreen;
}
.liuda-salary {
    color: darkgreen;
}
.liuda-salary:hover {
    transform: scale(1.3);
}
.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: black;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}
.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: grey;
    display: block;
    transition: 0.3s;
}
.sidebar a:hover {
    color: white;
}
.sidebar .liuda-close-button {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
.liuda-open-button {
    font-size: 20px;
    cursor: pointer;
    background-color: black;
    color: white;
    padding: 10px 15px;
    border: none;
}
.open-button:hover {
    background-color: gray();

}
#main {
    transition: margin-left .5s;
    padding: 20px;
}
@media screen and (max-height: 450px) {
    .sidebar {
        padding-top: 15px;
    }
}
    .sidebar a {
        font-size: 18px;
    }
}
.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}
.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 30px 35px;
    width: 400px;
    border-radius: 50px;
}
.modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}
.modal-body {
    padding: 2px 16px;
}
.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}
.liuda-facts {
    font-family: 'New Century serif';
    font-size: 18px;
}
.close-button {
    float: right;
    width: 20px;
    line-height: 25px;
    text-align: center;
    cursor: pointer;
    border-radius: 25px;
    background-color: lightgray;
}
.close-button:hover {
    background-color: darkgray;
}
.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}
.trigger {
    padding: 20px 15px;
    background: darkslateblue;
    color: white;
    border-radius: 3px;
    font-size: 16px;
}
.liuda-main-header {
    color: cadetblue;
    font-size: 40px;
    text-shadow: 3px 3px 3px darkviolet;
    text-align: center;
}
.liuda-secondary-header {
    color: darkslateblue;
    font-size: 30px;
    font-weight: normal;
    cursor: pointer;
    text-shadow: 0 0 15px #777;
    transition: all 1s;
    text-align: center;
}
.liuda-personal-descripcion {
    color: black;
    font-family: 'New Century serif';
    font-size: 24px;
    text-align: center;
}
.liuda-image {
    display: block;
    height: 200px;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    border-shadow: 3px steelblue;
    clip-path: circle(50% at center center);
}
.liuda-image:hover {
    transform: scale(1.1);
}
.liuda-wrapper {
    position: relative;
}
.liuda-music {
    color: black;
    font-family: 'New Century serif';
    font-size: 24px;
    text-align: center;
}
.liuda-music-video {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 450px;
    box-shadow: 0 0 20px steelblue;
}
.liuda-music-video:hover {
    transform: scale(1.1);
}
.liuda-traits-list {
    font-family: 'New Century serif';
    font-size: 24px;
}
.liuda-contacts {
    display: inline-block;
    margin: 10px;
}
.liuda-contacts:hover {
    transform: scale(1.3);
    box-shadow: 8px 8px 8px 8px steelblue;
}
.liuda-gallery .image {
    margin: 30px;
    border: 3px solid indigo;
    float: left;
    width: 300px;
    height: 380px;
    border-radius: 25px;
}
.image:hover {
    transform: scale(1.3);
}
.liuda-flex-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}
.liuda-gallery-img-wrapper {
    position: relative;
    display: inline-block;
    margin: 15px;
}
.friends-gallary .friends-image {
    margin: 30px;
    width: 270px;
    height: 350px;
    border: 4px solid steelblue;
    box-shadow: 10px 10px 8px 10px black;
    border-radius: 25px;
}
.friends-image:hover {
    transform: scale(1.3);
}
.flex-container-friends {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}
.friends-gallery-img-wrapper {
    position: relative;
    display: inline-block;
    margin: 15px;
}
.friends-gallery-img-text {
    position: absolute;
    display: block;
    bottom: 0px;
    right: 30px;
    font-size: 20px;
    color: white;
    background: cadetblue;
    border-radius: 5px;
}
.nature-gallary .nature-image {
    margin: 30px;
    height: 200px;
    width: 300px;
    border: 10px midnightblue;
    box-shadow: 5px 5px darkslateblue, 10px 10px mediumslateblue, 15px 15px cadetblue;
    border-radius: 25px;
}
.nature-image:hover {
    transform: scale(1.3);
}
.flex-container-nature {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}
.nature-gallery-img-text {
    position: absolute;
    display: block;
    bottom: 0px;
    right: 30px;
    font-size: 30px;
    color: white;
    background: slateblue;
    border-radius: 5px;
}
.nature-gallery-img-wrapper {
    position: relative;
    display: inline-block;
    margin: 25px;
}
.liuda-gallery-gif .liuda-gif {
    display: block;
    height: 250px;
    width: 350px;
    border: 3px steelblue;
    margin-left: auto;
    margin-right: auto;
}
.flex-container-gif {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}
.liuda-gif-wrapper {
    position: relative;
    display: inline-block;
}
.hover-button {
    padding: 15px 25px;
    background: steelblue;
    color: white;
    border-radius: 25px;
    outline: none;
    transition: color 0.5s ease-in-out;
}
.hover-button:hover {
    background: darkslateblue;
    color: black;
    cursor: pointer;
}
.animated-element {
    position: relative;
    margin: 30px;
    width: 200px;
    height: 200px;
    background: midnightblue;
    color: white;
    font-size: 25px;
    animation: liuda 5s ease;
    animation-direction: alternate-reverse;
}
.liuda-click-button {
    padding: 15px 10px;
    background: midnightblue;
    color: white;
    border-radius: 3px;
}
@keyframes liuda {
    0%   {background: midnightblue; left: 0px; top: 0px;}
    25%  {background: blueviolet; left: 0px; top: 200px;}
    50%  {left: 200px; top: 200px;}
    75%  {left: 0px; top: 200px;}
    100% {background: midnightblue; left: 0px; top: 0px;}
}
.animated-text {
    position: relative;
    color: white;
    font-size: 40px;
    animation: banner 10s ease infinite;
}
.animation-background {
    background: steelblue;
    padding: 10px 0;
}
@keyframes banner {
    from {
        transform: translateX(-150%);
    }
    to {
        transform: translateX(100%);
    }
}
.animated-image {
    position: relative;
    margin: 20px 0;
    box-shadow: 0 0 20px steelblue;
    animation: prince-louis 8s ease infinite;
    animation-delay: 3s;
}
@keyframes prince-louis {
    from {
        transform: rotate(180deg);
    }
    to {
        transform: translateX(600px);
    }
}