@media (min-width: 576px) {
    .liuda-main-header {
        color: saddlebrown;
        font-size: 20px;
        text-shadow: 3px 3px 3px darkviolet;
        text-align: center;
    }
    .liuda-secondary-header {
        color: darkslateblue;
        font-size: 15px;
        font-weight: normal;
        cursor: pointer;
        text-shadow: 0 0 15px #777;
        transition: all 1s;
        text-align: center;
    }
    .liuda-personal-descripcion {
        color: black;
        font-family: 'New Century serif';
        font-size: 12px;
    }
    .liuda-image {
        width: 150px;
        height: 200px;
        margin-left: auto;
        margin-right: auto;
    }
    .liuda-music {
        color: black;
        font-family: 'New Century serif';
        font-size: 12px;
        text-align: center;
    }
    .liuda-music-video {
        width: 260px;
        height: 115px;
        margin-left: auto;
        margin-right: auto;
    }
    .liuda-traits-list {
        font-family: 'New Century serif';
        font-size: 12px;
    }
    .liuda-contacts {
        display: inline-block;
        margin: 10px;
        height: 15px;
    }
    .liuda-gallery .image {
        margin: 5px;
        border: 3px solid indigo;
        float: left;
        width: 100px;
        height: 350px;
        border-radius: 25px;
    }
    .friends-gallary .friends-image {
        width: 150px;
        height: 230px;
        border: 3px solid steelblue;
        box-shadow: 7px 7px 5px 7px black;
        border-radius: 25px;
    }
    .friends-gallery-img-text {
        position: absolute;
        display: block;
        bottom: 0px;
        right: 30px;
        font-size: 14px;
        color: white;
        background: cadetblue;
        border-radius: 3px;
    }
    .nature-gallary .nature-image {
        height: 80px;
        width: 150px;
        border: 7px midnightblue;
        box-shadow: 3px 3px darkslateblue, 8px 8px mediumslateblue, 12px 12px cadetblue;
        border-radius: 25px;
    }
    .nature-gallery-img-text {
        position: absolute;
        display: block;
        bottom: 0px;
        right: 30px;
        font-size: 20px;
        color: white;
        background: slateblue;
        border-radius: 5px;
    }
    .liuda-gallery-gif .liuda-gif {
        display: block;
        height: 70px;
        width: 150px;
        border: 3px steelblue;
        box-shadow: 0 0 20px darkslateblue;
        margin-left: auto;
        margin-right: auto;
    }
    .liuda-gif-text {
        color: white;
        background: slateblue;
        font-family: 'New Century serif';
        text-align: center;
        font-size: 20px;
    }
}
@media (min-width: 768px) {
    .liuda-main-header {
        color: saddlebrown;
        font-size: 25px;
        text-shadow: 3px 3px 3px darkviolet;
        text-align: center;
    }
    .liuda-secondary-header {
        color: darkslateblue;
        font-size: 20px;
        font-weight: normal;
        cursor: pointer;
        text-shadow: 0 0 15px #777;
        transition: all 1s;
        text-align: center;
    }
    .liuda-personal-descripcion {
        color: black;
        font-family: 'New Century serif';
        font-size: 12px;
    }
    .liuda-image {
        width: 250px;
        height: 300px;
        margin-left: auto;
        margin-right: auto;
    }
    .liuda-music {
        color: black;
        font-family: 'New Century serif';
        font-size: 12px;
        text-align: center;
    }
    .liuda-music-video {
        width: 360px;
        height: 215px;
        margin-left: auto;
        margin-right: auto;
    }
    .liuda-traits-list {
        font-family: 'New Century serif';
        font-size: 14px;
    }
    .liuda-contacts {
        display: inline-block;
        margin: 15px;
        height: 20px;
    }
    .liuda-gallery .image {
        margin: 5px;
        border: 3px solid indigo;
        float: left;
        width: 100px;
        height: 350px;
        border-radius: 25px;
    }
    .friends-gallary .friends-image {
        width: 170px;
        height: 250px;
        border: 3px solid steelblue;
        box-shadow: 7px 7px 5px 7px black;
        border-radius: 25px;
    }
    .friends-gallery-img-text {
        position: absolute;
        display: block;
        bottom: 0px;
        right: 30px;
        font-size: 14px;
        color: white;
        background: cadetblue;
        border-radius: 3px;
    }
    .nature-gallary .nature-image {
        height: 80px;
        width: 200px;
        border: 7px midnightblue;
        box-shadow: 3px 3px darkslateblue, 8px 8px mediumslateblue, 12px 12px cadetblue;
        border-radius: 25px;
    }
    .nature-gallery-img-text {
        position: absolute;
        display: block;
        bottom: 0px;
        right: 30px;
        font-size: 20px;
        color: white;
        background: slateblue;
        border-radius: 5px;
    }
    .liuda-gallery-gif .liuda-gif {
        display: block;
        height: 70px;
        width: 150px;
        border: 3px steelblue;
        box-shadow: 0 0 20px darkslateblue;
        margin-left: auto;
        margin-right: auto;
    }
    .liuda-gif-text {
        color: white;
        background: slateblue;
        font-family: 'New Century serif';
        text-align: center;
        font-size: 20px;
    }
}
@media (min-width: 992px) {
    .liuda-main-header {
        color: saddlebrown;
        font-size: 24px;
        text-shadow: 3px 3px 3px darkviolet;
        text-align: center;
    }
    .liuda-secondary-header {
        color: darkslateblue;
        font-size: 18px;
        font-weight: normal;
        cursor: pointer;
        text-shadow: 0 0 15px #777;
        transition: all 1s;
        text-align: center;
    }
    .liuda-personal-descripcion {
        color: black;
        font-family: 'New Century serif';
        font-size: 14px;
    }
    .liuda-image {
        width: 300px;
        height: 450px;
        box-shadow: 0 0 20px steelblue;
        margin-left: auto;
        margin-right: auto;
    }
    .liuda-music {
        color: black;
        font-family: 'New Century serif';
        font-size: 14px;
        text-align: center;
    }
    .liuda-music-video {
        width: 300px;
        height: 150px;
        margin-left: auto;
        margin-right: auto;
    }
    .liuda-traits-list {
        font-family: 'New Century serif';
        font-size: 14px;
    }
    .liuda-contacts {
        display: inline-block;
        margin: 15px;
        height: 20px;
    }
    .liuda-gallery .image {
        margin: 5px;
        border: 3px solid indigo;
        float: left;
        width: 150px;
        height: 400px;
        border-radius: 25px;
    }
    .friends-gallary .friends-image {
        width: 180px;
        height: 280px;
        border: 3px solid steelblue;
        box-shadow: 7px 7px 5px 7px black;
        border-radius: 25px;
    }
    .friends-gallery-img-text {
        position: absolute;
        display: block;
        bottom: 0px;
        right: 30px;
        font-size: 18px;
        color: white;
        background: cadetblue;
        border-radius: 3px;
    }
    .nature-gallary .nature-image {
        height: 100px;
        width: 250px;
        border: 7px midnightblue;
        box-shadow: 3px 3px darkslateblue, 8px 8px mediumslateblue, 12px 12px cadetblue;
        border-radius: 25px;
    }
    .nature-gallery-img-text {
        position: absolute;
        display: block;
        bottom: 0px;
        right: 30px;
        font-size: 25px;
        color: white;
        background: slateblue;
        border-radius: 5px;
    }
    .liuda-gallery-gif .liuda-gif {
        display: block;
        height: 100px;
        width: 200px;
        border: 3px steelblue;
        box-shadow: 0 0 20px darkslateblue;
        margin-left: auto;
        margin-right: auto;
    }
    .liuda-gif-text {
        color: white;
        background: slateblue;ллі
    font-family: "Comic Sans MS";
        text-align: center;
        font-size: 20px;
    }
}
@media (min-width: 1200px) {
    .liuda-main-header {
        color: saddlebrown;
        font-size: 35px;
        text-shadow: 3px 3px 3px darkviolet;
        text-align: center;
    }
    .liuda-secondary-header {
        color: darkslateblue;
        font-size: 30px;
        font-weight: normal;
        cursor: pointer;
        text-shadow: 0 0 15px #777;
        transition: all 1s;
        text-align: center;
    }
    .liuda-personal-descripcion {
        color: black;
        font-family: 'New Century serif';
        font-size: 24px;
    }
    .liuda-image {
        display: block;
        height: 250px;
        width: 200px;
        margin-left: auto;
        margin-right: auto;
        box-shadow: 0 0 20px steelblue;
    }
    .liuda-music {
        color: black;
        font-family: 'New Century serif';
        font-size: 24px;
        text-align: center;
    }
    .liuda-music-video {
        width: 450px;
        height: 300px;
        margin-left: auto;
        margin-right: auto;
    }
    .liuda-traits-list {
        font-family: 'New Century serif';
        font-size: 24px;
    }
    .liuda-contacts {
        display: inline-block;
        margin: 15px;
        height: 20px;
    }
    .liuda-gallery .image {
        margin: 5px;
        border: 3px solid indigo;
        float: left;
        width: 200px;
        height: 450px;
        border-radius: 25px;
    }
    .friends-gallary .friends-image {
        width: 200px;
        height: 380px;
        border: 3px solid steelblue;
        box-shadow: 7px 7px 5px 7px black;
        border-radius: 25px;
    }
    .friends-gallery-img-text {
        position: absolute;
        display: block;
        bottom: 0px;
        right: 30px;
        font-size: 18px;
        color: white;
        background: cadetblue;
        border-radius: 3px;
    }
    .nature-gallary .nature-image {
        height: 150px;
        width: 300px;
        border: 7px midnightblue;
        box-shadow: 3px 3px darkslateblue, 8px 8px mediumslateblue, 12px 12px cadetblue;
        border-radius: 25px;
    }
    .nature-gallery-img-text {
        position: absolute;
        display: block;
        bottom: 0px;
        right: 30px;
        font-size: 30px;
        color: white;
        background: slateblue;
        border-radius: 5px;
    }
    .liuda-gallery-gif .liuda-gif {
        display: block;
        height: 150px;
        width: 250px;
        border: 3px steelblue;
        box-shadow: 0 0 20px steelblue;
        margin-left: auto;
        margin-right: auto;
    }
    .liuda-gif-text {
        color: white;
        background: slateblue;
        font-family: 'New Century serif';
        text-align: center;
        font-size: 25px;
    }
}