* {
    margin: 0;
}
.header__logo {
    color: #ffefc1;
    font-weight: 700;
    font-size: 40px;
    font-family: "Eras Demi ITC";
    cursor: pointer;
    text-decoration: none;
}
.header__logo:hover {
    opacity: .8;
}
.header {
    width: 100%;
    position: absolute;
    top: 0;
    background-color: #1aa3ff;
    left: 0;
    z-index: 1000;
    height: 100px;
}
.header__iner {
    align-items: center;
    display: flex;
    padding: 35px 0;
    justify-content: space-between;
}
.nav {
    display: flex;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
}
.nav__link {
    margin-left: 45px;
    text-decoration: none;
    color: #ffffff;
    transition: color 0.2s linear;
}
.nav__link:hover {
    color: #561a33;
}
.nav__link:first-child {
    margin-left: 0;
}
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
.box {
    border-radius: 22px;
    width: 300px;
    padding: 40px;
    margin: 0 auto;
    top: -50%;
    transform: translateY(+50%);
    text-align: center;
    background: #191919;
}
.box input {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
}
.box__title {
    color: white;
    font-weight: 500;
    text-transform: uppercase;
}
.box input:focus {
    width: 280px;
    border-color: #2ecc71;
}
.submit {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 14px 40px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}
.submit:hover {
    background: #2ecc71;
}



