.oleg-document-body {
    font-family: cursive, sans-serif;
    font-size: small;
    margin: 0;
}

.oleg-tablecontainer {
    display: table;
    margin: 0 auto;
}

.oleg-tablerow {
    display: block;
}

.oleg-leftbar {
    display: table-cell;
    background-color: #495f86;
    color: white;
    vertical-align: top;
    position: relative;
    width: auto;
    min-width: 300px;
    text-align: center;
    padding: 0 10px;
}

.oleg-rightbar {
    display: table-cell;
    vertical-align: top;
    background: #ecf1f5;
    width: auto;
    padding: 0 10px;
    position: absolute;
    min-width: 300px;
    height: auto;
    z-index: 2;
}

.oleg-table-interests {
    height: 40px;
    width: 200px;
    text-align: left;
    font-weight: unset;
}

.oleg-meritlist {
    list-style: none;
    position: relative;
    right: 50px;
}

.oleg-numeration {
    color: white;
    background: #495f86;
    display: inline-block;
    text-align: center;
    margin: 5px 10px;
    line-height: 40px;
    width: 41px;
    height: 41px;
    border-radius: 40%;
}

.oleg-profilepic:hover {
    transform: scale(-1, 1);
}

.oleg-marquee {
    position: relative;
    color: white;
    font-size: 25px;
    animation: marquee 200s infinite linear;
    z-index: 1;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.oleg-marquee-block {
    margin-right: 20px;
    height: 252px;
    overflow: hidden;
    position: absolute;
}

@keyframes marquee {
    0% {
        transform: translateY(8%);
    }
    100% {
        transform: translateY(-100%)
    }
}

.modal {
    display: none;
    position: fixed;
    padding-top: 50px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 3;
}

.modal-content {
    position: relative;
    background-color: white;
    padding: 20px;
    margin: auto;
    width: 100%;
    animation-name: animatetop;
    animation-duration: 0.4s;
    color: black;
    display: inline-block;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
}

.closeBtn {
    background-color: black;
    color: white;
    cursor: pointer;
    padding: 0 12px;
}

.closeBtn:hover {
    background-color: lightgray;
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}

.oleg-additional-info {
    position: relative;
    left: 62px;
    font-size: small;
    bottom: 10px;
}

.oleg-contacts-img {
    height: 25px;
    position: relative;
    top: 6px;
    margin-right: 10px;
}

.oleg-geotag-image {
    clear: bottom;
    float: none;
    margin-top: 0;
    margin-right: 10px;
    padding-bottom: 0;
    height: 25px;
}

.oleg-low-tablecontainar {
    display: table;
    margin: 0 auto;
}

.oleg-gallery-br {
    display: none;
}

.oleg-gallery, .oleg-interior-gallery {
    white-space: unset;
    margin-top: 0;
    position: relative;
    margin-bottom: 50px;
    display: block;
}

.oleg-interior-gallery-img {
    box-shadow: -3px -3px 10px 1px #495f86;
    display: block;
    width: auto;
    min-width: 320px;
    margin: 30px 0;
}

.oleg-interior-gallery-imgtitle {
    position: absolute;
    color: white;
    font-size: 20px;
    display: inline-block;
    text-align: center;
    margin: 25% auto;
    background: rgba(0, 0, 0, 0.5);
    width: auto;
    min-width: 320px;
}

.oleg-interior-gallery-imgtitle:hover {
    position: absolute;
    margin: 0;
    padding-top: 20%;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    font-size: 35px;
    display: inline-block;
    width: 250px;
    text-align: center;
    min-width: 320px;
    height: auto;
    min-height: 129px;
}

.oleg-interior-gallery a {
    outline: none;
    text-decoration: none;
    color: white;
}

.oleg-interior-gallery-fullimg > img {
    height: 90%;
    width: 90%;
    margin-left: 5%;
    margin-bottom: 10%;
}

.oleg-interior-gallery-title {
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    margin: 0 5%;
}

.oleg-goods {
    display: block;
    font-size: xx-small;
    width: 240px;
    border-right: 1px solid gainsboro;
    border-bottom: 1px solid gainsboro;
    padding: 10px;
}

.oleg-goods-price {
    color: #f84147;
    font-size: 14px;
}

.oleg-goods-availability {
    color: #00a046;
    font-size: 14px;
    font-weight: lighter;
}

.oleg-gallery-img {
    width: 210px;
}

.oleg-hr-undermyname {
    width: 296px;
    margin-left: 0;
}

.oleg-hr-undercareer {
    width: 260px;
    margin-left: 0;
}

.oleg-hr-undereducation, .oleg-hr-underexp {
    width: 200px;
    margin-left: 0;
}

.oleg-hr-underinterests {
    width: 150px;
    margin-left: 0;
}

.oleg-navigation {
    background-color: #ecf1f5;
    min-width: 320px;
    margin: 0 auto;
    width: auto;
}

.oleg-navigation .oleg-nav-list {
    list-style-type: none;
    padding: 5px 0 5px 0;
    margin: 0;
}

.oleg-nav-point {
    display: table;
    padding: 5px 0 5px 0;
    min-width: 320px;
    margin: 0 auto;
    text-align: center;
}

.oleg-navigation .oleg-nav-list .oleg-nav-point a:link, .oleg-navigation .oleg-nav-list .oleg-nav-point a:visited {
    color: black;
    border-bottom: none;
    text-decoration: none;
}

.oleg-navigation .oleg-selected {
    background-color: #495f86;
}

.oleg-selected a:link, .oleg-navigation .oleg-nav-list .oleg-selected a:visited {
    color: white;
}

@media (min-width: 576px) {
    .oleg-document-body {
        font-size: medium;
    }

    .oleg-interior-gallery-img {
        display: flex;
        flex-direction: column;
        min-width: 576px;
    }

    .oleg-interior-gallery-imgtitle {
        display: flex;
        flex-direction: column;
        min-width: 576px;
    }

    .oleg-interior-gallery-imgtitle:hover {
        padding-top: 23%;
        display: flex;
        flex-direction: column;
        min-width: 576px;
        min-height: 214px;
    }
}

@media (min-width: 768px) {
    .oleg-navigation {
        width: auto;
        margin-left: auto;
        margin-right: auto;
    }

    .oleg-nav-right {
        display: inline-block;
        float: right;
    }

    .oleg-navigation .oleg-nav-list .oleg-nav-point {
        display: inline;
        padding: 5px 10px 5px 10px;
    }

    .oleg-navigation .oleg-nav-list .oleg-selected a:link, .oleg-navigation .oleg-nav-list .oleg-selected a:visited {
        color: white;
    }

    .oleg-tablerow {
        display: table-row;
    }

    .oleg-leftbar {
        width: 276px;
        min-width: 270px;
        text-align: left;
        padding: 20px;
    }

    .oleg-rightbar {
        width: auto;
        padding: 0 30px;
        position: relative;
        min-width: 300px;
    }

    .oleg-geotag-image {
        float: left;
        margin-top: 20px;
        margin-right: 14px;
        padding-bottom: 0;
    }

    .oleg-low-tablecontainar {
        display: block;
        margin: 0 auto;
        max-width: 992px;
    }

    .oleg-gallery, .oleg-interior-gallery {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .oleg-interior-gallery-img {
        width: auto;
        min-width: 320px;
        margin: 30px 20px;
        position: relative;
    }

    .oleg-interior-gallery-imgtitle {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        min-width: 320px;
        margin: 110px 10px 10px 20px;
        position: absolute;
        justify-content: center;
        z-index: 2;
    }

    .oleg-interior-gallery-imgtitle:hover {
        position: absolute;
        margin-top: 30px;
        margin-left: 20px;
        padding-top: 80px;
        color: white;
        background: rgba(0, 0, 0, 0.5);
        font-size: 20px;
        display: inline-block;
        width: 250px;
        text-align: center;
        min-width: 320px;
        height: 112px;
        min-height: 0;
    }

    .oleg-sidebar {
        position: fixed;
        width: 460px;
        height: 32.5px;
        top: 5px;
    }
}

@media (min-width: 992px) {
    .oleg-tablecontainer {
        display: table;
        margin: 0 auto;
    }

    .oleg-tablerow {
        display: table-row;
    }

    .oleg-leftbar {
        width: 200px;
    }

    .oleg-rightbar {
        width: 500px;
        height: 1366px;
    }

    .oleg-navigation {
        width: 870px;
        margin-left: auto;
        margin-right: auto;
    }

    .oleg-navigation:hover {
        background-color: #495f86;
        transition: all 0.5s ease;
    }

    .oleg-nav-point:hover {
        color: black;
        background-color: #ecf1f5;
        transition: all 0.5s ease;
    }

    .oleg-selected a:link, .oleg-navigation .oleg-nav-list .oleg-selected a:visited:hover {
        color: black;
    }

    .oleg-sidebar {
        position: fixed;
        width: 460px;
        height: 32.5px;
        top: 5px;
    }
}

@media (min-width: 1200px) {
    .oleg-interior-gallery-img {
        width: 250px;
        min-width: 250px;
        margin: 30px 25px;
    }

    .oleg-interior-gallery-imgtitle {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 250px;
        min-width: 250px;
        margin: 90px 10px 10px 25px;
        position: absolute;
        justify-content: center;
        z-index: 2;
    }

    .oleg-interior-gallery-imgtitle:hover {
        position: absolute;
        margin-top: 30px;
        margin-bottom: 100px;
        margin-left: 25px;
        padding-top: 60px;
        color: white;
        background: rgba(0, 0, 0, 0.5);
        font-size: 20px;
        display: block;
        width: 250px;
        text-align: center;
        min-width: 250px;
        height: 70px;
        padding-bottom: 20px;
        transition: all 100ms ease;
    }

    .oleg-hr-undermyname, .oleg-hr-undercareer, .oleg-hr-undereducation, .oleg-hr-underexp, .oleg-hr-underinterests {
        animation: slidehr 1s 1 linear;
    }

    @keyframes slidehr {
        0% {
            transform: translate(60%, 0);
        }
        100% {
            transform: translate(0, 0)
        }
    }

    .oleg-interior-gallery-img:hover {
        animation: gallery 0.5s infinite ease;
    }

    @keyframes gallery {
        0% {
            transform: scale(1.1);
        }
        100% {
            transform: scale(1.1);
        }
    }

    .oleg-sidebar {
        position: fixed;
        width: 460px;
        height: 32.5px;
        top: 40px;
        transition: all 500ms linear;
    }

    .oleg-sidebar.active {
        position: fixed;
        width: 460px;
        height: 32.5px;
        top: 5px;
    }

    .oleg-burgerbtn {
        float: right;
        top: 2px;
        background-color: honeydew;
        z-index: 3;
    }

    .oleg-burgerbtn-strip {
        display: block;
        padding: 0;
        width: 30px;
        height: 5px;
        background-color: #495f86;
        margin: 2px 0;
    }
}