.oleksandr-html {
    font-size: 18px;
}
.oleksandr-body {
    background: url(../images/Oleksandr/background-head.png) 0 0/auto auto;
    background-size: auto;
    margin: 0;
    height: 100%;
    font-family: sans-serif;
    position: relative;
    box-sizing: border-box;
}
#oleksandr-sidebar {
    display: block;
    position: fixed;
    width: 250px;
    height: 100%;
    background: #57626f;
    border-right: 4px solid #E0E5EA;
    left: -254px;
    -moz-transition: all 500ms;
    -webkit-transition: all 500ms;
    transition: all 500ms;
}
.oleksandr-menu-foto {
    border-radius: 50%;
    object-fit: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    margin-top: 20px;
}
#oleksandr-sidebar.active {
    left: 0px;
}
#oleksandr-sidebar ul li:first-child {
    text-align: center;
    color: white;
    font-size: 1.95em;
    list-style: none;
    padding: 25px 10px 10px 10px;
}
#oleksandr-sidebar .oleksandr-menu-list {
    padding: 0px;
}
#oleksandr-sidebar ul li:not(:first-child) {
    width: 90%;
    margin-left: 10%;
    font-size: 1.1em;
    list-style: none;
    padding: 15px 10px;
}
#oleksandr-sidebar ul li a {
    color: #dfe5eb;
    text-decoration: none;
}
#oleksandr-sidebar ul li a:hover {
    color: black;
}
#oleksandr-sidebar .oleksandr-toggle-btn {
    position: absolute;
    left: 270px;
    top: 20px;
    background: silver;
    padding: 10px;
    border-radius: 12px;
    cursor: pointer;
}
#oleksandr-sidebar .oleksandr-toggle-btn span {
    display: block;
    width: 25px;
    height: 4px;
    background-color: black;
    margin: 4px 0;
}
.oleksandr-header-content {
    color:black;
}
.oleksandr-header-name {
    padding: 40px;
    margin: 0;
    text-shadow: 2px 2px 2px grey;
    font-size: 45px;
}
.oleksandr-about-txt {
    margin: 20px;
    text-align: center;
    font-size: 22px;
}
.oleksandr-image {
    border-radius: 50%;
    object-fit: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.oleksandr-gallery-img {
     border-radius: 20px;
 }
.oleksandr-gallery {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    border-radius: 25px;
}
.oleksandr-gallery .oleksandr-gallery-img {
    margin: 20px;
    border-radius: 5px;
    height: 200px;
    width: 300px;
    border: 2px solid black;
    box-shadow: 0 0 10px #000;
}
.oleksandr-footer {
    height: 70px;
    position: absolute;
    background: #57626f;
    opacity: 90%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.oleksandr-social-logo {
    display: inline-block;
    padding: 5px;
    box-sizing: border-box;
    align-items: center;
}
.oleksandr-social-logo:hover {
    transform: scale(1.2);
}
.oleksandr-content {
    transition: margin-left .5s;
}
.oleksandr-button {
    padding: 10px 30px;
    background: black;
    color: white;
    border-radius: 5px;
    outline: none;
    transition: all 1s ease-out;
}
.oleksandr-button:hover {
    background: dodgerblue;
    cursor: pointer;
}
.oleksandr-ticker {
    height: 150px;
    width: 100%;
}
.oleksandr-ticker-img {
    position: relative;
    animation: stickerun 10s infinite linear;
}
@keyframes stickerun {
    100% {
        transform: translateX(100%);
    }
}
.oleksandr-gallery-img:hover {
    transform: scale(1.2, 1.3)
}
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}
@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}
.oleksandr-products {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 10px;
    justify-content: center;
}
.hockey-stick {
    border: 2px solid black;
    display: inline-block;
    margin: 20px;
    padding: 10px;
    border-radius: 5px;
    height: 300px;
    width: 200px;
    background: white;
    text-align: center;
}
.img-hockey-stick {
    width: 200px;
    height: 200px;
    text-align-last: center;
}
.hockey-stick p {
    font-size:16px;
    padding: 10px;
}
.hockey-stick p:hover {
    color: #1c7430;
    transform: scale(1.2);
}
.hockey-stick h1 {
    font-size: 19px;
}
.oleksandr-person-comments {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}
.person {
    border: 2px solid black;
    padding: 10px;
}
.person img {
    height: 50px;
    width: 100px;
}