@media (min-width: 576px) {
    #oleksandr-sidebar {
        width: 120px;
    }
    .oleksandr-menu-foto {
        width: 100px;
        height: 100px;
    }
    .oleksandr-header-content {
        font-size: 12px;
    }
    .oleksandr-gallery {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }
    .oleksandr-gallery .oleksandr-gallery-img {
        height: 100px;
        width: 180px;
    }
}
@media (min-width: 768px) {
    #oleksandr-sidebar {
        width: 120px;
    }
    .oleksandr-menu-foto {
        width: 100px;
        height: 100px;
    }
   .oleksandr-header-content {
       font-size: 12px;
   }
    .oleksandr-gallery {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }
    .oleksandr-gallery .oleksandr-gallery-img {
        height: 100px;
        width: 180px;
    }
}
@media (min-width: 992px) {
    #oleksandr-sidebar {
        width: 200px;
    }

    .oleksandr-menu-foto {
        width: 180px;
        height: 180px;
    }

    .oleksandr-header-content {
        font-size: 16px;
    }

    .oleksandr-gallery {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }

    .oleksandr-gallery .oleksandr-gallery-img {
        height: 180px;
        width: 250px;
    }
}
@media (min-width: 1200px) {
    #oleksandr-sidebar {
        width: 250px;
    }
    .oleksandr-menu-foto {
        width: 220px;
        height: 220px;
    }
    .oleksandr-header-content {
        font-size: 18px;
    }
    .oleksandr-gallery {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }
    .oleksandr-gallery .oleksandr-gallery-img {
        height: 200px;
        width: 300px;
    }
}