.olha-text-card {
    max-width: 150px;
}
.olha-people-list {
    display: flex;
    flex-wrap: wrap;
}
.container {
    padding: 0 15px;
}
.person {
    margin: 5px;
    border-radius: 5px;
    padding: 15px;
    display: inline-block;
    border: 1px solid black;
}

.animal {
    border: 2px solid gray;
    display: inline-block;
    padding: 10px;
    background: #8fd19e;
}
.olha-second-image{
    display: none;
    height: 160px;
}
.olha-first-image {
    height: 160px;
}
.olha-image-container {
    text-align-last: center;
}
.olha-image-container:hover .olha-second-image {
    display: inline;
}
.olha-image-container:hover .olha-first-image {
    display: none;
}
.olha-product-price {
    display: inline-block;
    font-size: 20px;
    color: #f84147;
    margin: 3px;
    padding: 0;
}
.olha-product-old-price {
    padding: 0;
    margin: 5px;
    font-size: 14px;
    color: #a6a5a5;
    text-decoration: line-through;
}
.olha-product-title {
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    color: #221f1f;
    margin-bottom: 3px;
    margin-top: auto;
    padding: 0;
}
.olha-product-list {
    display: inline-block;
    position: relative;
    padding: 8px;
    box-sizing: border-box;
    background-color: #fff;
    border: #999999;
    margin: 1px;
}
.olha-products {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 10px;

}
.peoplelist {
    display: inline-block;
    margin: 5px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 5px;
    background-color: #f8f6ff;
    text-shadow: 1px 1px 1px grey;
}
.peoplelist:hover {
    font-size: 20px;
}
.salary {
    font-size: 20px;
}
.salary:hover {
    font-size: 20px;
}
.olha-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.olha-modal-content {
    position: relative;
    background-color: #f8f6ff;
    margin: auto;
    padding: 0;
    border: 3px solid rgba(168, 168, 168, 0.25);
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}
@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}
.olha-close {
    display: flex;
    color: #42526e;
    float: right;
    font-size: 20px;
    font-weight: bold;
    border-radius: 50%;
    height: 33px;
    width: 33px;
    align-items: center;
    justify-content: center;
    transition: background-color 85ms,color 85ms;
}
.olha-close:hover {
    text-decoration: none;
    cursor: pointer;
    background: rgba(9,30,66,.08);
}
.olha-modal-header {
    padding: 2px 16px;
    background-color: rgba(255, 255, 251, 0.84);
    color: black;
    border-bottom: lightgrey double;
}
.olha-modal-body {
    padding: 2px 16px;
}
.olha-about-me-block {
    display: flex;
    flex-wrap: wrap;
}
.olha-mainpage-body {
    background-image: linear-gradient(#f0dfd2, #f5f2f1);
    font-family: spinnaker, sans-serif;
}
.olha-fixblock {
    display: inline-flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding: 5px;
    top: 0;
    position: sticky;
    background-color: #d2b39c;
    z-index: 2;
    box-shadow: 0px 2px 5px ivory;
}
.olha-top-menu {
    list-style: none;
    margin: 5px ;
    color: black;
    font-size: 18px;
    padding-inline-start: 0px;
}
.olha-top-menu-item {
    border-right: 2px solid black;
    display: inline;
    padding: 0 15px;
    text-shadow: 1px 1px 1px grey;
}
.olha-top-menu-item:last-child {
    border-right: 0;
}
.olha-menu-link {
    color: black;
    font-size: 16px;
    text-shadow: 1px 1px 1px grey;
    text-decoration: none;
}
.olha-main-title {
    color: black;
    margin: 7px 0px ;
    text-shadow: 4px 1px 2px grey;
    box-sizing: content-box;
    padding: 20px;
}
.olha-anim-block-wrapper {
    border-bottom: 2px dotted black;
    border-top: 2px dotted black;
    margin: 10px 5px;
}
.olha-running-text {
    margin: 2%;
}
.block-animation {
    position: relative;
    animation: run 4s cubic-bezier(0, 0.99, 0.98, 0.07) infinite;
    text-shadow: 2px 0px 2px rgba(0,0,0,0.3) ;
}
@keyframes run {
/*  0% {
    top: 0;left:0px;
    }
    100% {
    top: 0; left:90%;
    }
    0% {
    transform: translateX(100%);
    }*/
    100% {
        transform: translateX(100%);
    }
}
.block-animation:hover {
    position: relative;
    text-align: center;
    animation: none;
}
.olha-image {
    width: 200px;
    box-shadow: 3px 0 10px grey;
    max-height: 100%;
}
.olha-wrapper {
    position: relative;
    margin: 0 0 10px 10px;
    width: 300px;
}
.olha-text-block {
    position: absolute;
    top: 20px;
    left: 120px;
    background: #a9202c;
    text-shadow: #ceab65 0.5px 0 0;
    color: #f0dfd2;
    padding: 3px;
}
.olha-second-title {
    display: inline-block;
    color: Black;
    margin: 20px 0 5px 0px;
    border-bottom: 2px black double;
    text-shadow: 4px 1px 2px grey;
}
.olha-simple-text-block {
    max-width: 100%;
    display: inline-block;
    margin: 0 10px;
    background: ivory;
    padding: 10px 10px 10px 20px;
    vertical-align: top;
}
.olha-qualities-block {
    max-width: 335px;
    display: inline-block;
    margin: 10px;
    background: ivory;
    padding: 10px 10px 10px;
    border-top: 3px solid darkgrey;
    vertical-align: top;
}
.olha-list-title {
    margin:5px 10px 5px 10px;
    font-size: 20px;
    text-shadow: 1px 1px 1px grey;
}
.olha-list {
    list-style-type: circle;
    margin:5px 5px 5px 5px;
    padding-inline-start: 25px;
}
.olha-list:hover {
    list-style-type: disc;
    margin:5px 5px 5px 5px;
    padding-inline-start: 25px;
}
.olha-socials {
    display: inline-block;
    margin: 10px 10px 10px 15px;
    padding: 5px;
    box-sizing: border-box;
}
.olha-socials:hover {
    transform: rotate(360deg);
    transition: 2s;
}
.olha-gallery-wrapper .olha-gallery {
    border: 2px solid darkolivegreen;
    max-width: 200px;
    max-height: 200px;
}
.olha-gallery-wrapper .olha-second-gallery {
    position: relative;
    max-width: 200px;
    max-height: 300px;
    box-shadow: 3px 0 10px grey;
}
.olha-picture-title {
    position: absolute;
    box-shadow: 3px 0 10px grey;
    left: 90px;
}
.olha-gallery-wrapper {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 20px;
}
.olha-gallery:hover {
    transform: scale(1.2);
    transition: 1s;
}
.olha-gallery-item-wrapper {
    position: relative;
}
.olha-gallery-picture-title {
    position: absolute;
    box-shadow: 3px 0 10px grey;
    left: 25%;
    top: 75%;
    background: grey;
}
.olha-button {
    margin: 10px;
    padding: 20px 20px;
    background: #6666ff;
    color: #4d4d33;
    border-radius: 3px;
    cursor: pointer;
    outline: none;
    transition: all 0.3s ease-in-out;
}
.olha-button:hover {
    background: ivory;
    color: #4d4d33;
}
@media (min-width: 576px) {
    .olha-mainpage-body {
        color: lightgreen;
    }
    .olha-about-me-block {
        display: flex;
        flex-wrap: nowrap;
    }
    .olha-top-menu-item:hover {
        color: darkgrey;
    }
    .olha-menu-link:hover {
        color: darkgrey;
    }
}
@media (min-width: 768px) {
    .olha-mainpage-body {
        color: darkred;
    }
    .olha-image {
        width: 300px;
        height: 300px;
        object-fit: cover;
        object-position: 0 -70px;
    }
    .olha-text-block {
        position: absolute;
        top: 20px;
        left: 200px;
        background: #a9202c;
        text-shadow: #ceab65 0.5px 0 0;
        color: #f0dfd2;
        padding: 3px;
    }
}
@media (min-width: 992px) {
    .olha-mainpage-body {
        color: yellow;
    }
}
@media (min-width: 1200px) {
    .olha-mainpage-body {
        color: orange;
    }
}