* {
    margin: 0;
}
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
.header__logo {
    color: #ff5a00;
    font-weight: 700;
    font-size: 40px;
    font-family: "Eras Demi ITC";
    cursor: pointer;
    text-decoration: none;
}
.header__logo:hover {
    opacity: .8;
}
.header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    height: 100px;
    background-color: orange;
}
.header__iner {
    align-items: center;
    display: flex;
    padding: 35px 0;
    justify-content: space-between;
}
.header--fixed {
    padding: 10px 0;
    background-color: #8019bd;
    position: fixed;
    top: 0;
    left: 0;
    transform: translate3d(0, 0 ,0);
}
.nav {
    display: block;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
}
.nav__link {
    position: relative;
    margin-left: 45px;
    text-decoration: none;
    color: #ffffff;
    transition: color 0.2s linear;
}
.nav__link:after {
    content: "";
    display: block;
    margin-top: 3px;
    width: 100%;
    height: 2px;
    background-color: white;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    display: none;
}
.nav__link:hover {
    color: #561a33;
}
.nav__link:hover:after {
    display: block;
}
.nav__link:first-child {
    margin-left: 0;
}
.nav__toggle {
    display: none;
    cursor: pointer;
    border: none;
    background: none;
    margin-top: 5px;
    border: none;
    padding: 40px 0;
    text-decoration: none;
    position: absolute;
    top: 15px;
    z-index: 1;
    width: 30px;
    right: 15px;
}
.nav__items:before,
.nav__items:after {
    content: "";
    border-radius: 5px;
    width: 100%;
    height: 3px ;
    background-color: white;
    position: absolute;
    left: 0;
    z-index: 3;
}
.nav__items:before {
    top: -8px;
}
.nav__items:after {
    bottom: -8px;
}
.nav__items {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 3px;
    margin: auto;
    background-color: white;
}
.nav__toggle.active .nav__items {
    background-color: transparent;
}
.nav__toggle.active .nav__items:before {
transform-origin: left top;
transform: rotate(45deg) translateX(-2px);
}
.nav__toggle.active .nav__items:after {
    transform-origin: left top;
    transform: rotate(-45deg) translateX(-5px);
}
.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 7000px;
    opacity: .6;
    padding-top: 100px;
    z-index: 100;
}
.intro_title {
    text-transform: uppercase;
    text-align: center;
    margin: 0;
    font-family: "Bookman Old Style";
    font-size: 55px;
    color: white;
    font-weight: 500;
}
.intro_inner {
    width: 100%;
    max-width: 970px;
    margin: 0 auto;
}
.intro_subtitle {
    text-transform: uppercase;
    margin-top: 50px;
    font-weight: 600;
    font-family:"Bookman Old Style" ;
    font-size: 25px;
    text-align: center;
    line-height: 1.5;
    color:white ;
}
.btn {
    padding: 15px 10px;
    background-color: black;
    color: darkgrey;
    border-radius: 15px;
}
.btn--red {
    background-color: #df3a0d;
}
.btn--red:hover {
    background-color: #ff0b5e;
}
.features {
    display: flex;
    top: 50%;
    transform: translateX(+50%);
    background: #eba606;
    width: 400px;
    height: 500px;
}
.features__items {
    padding: 0 20px;
    width: 100%;
    padding-top: 30px;
    text-align: center;
}
.features__title {
    color: black;
    text-transform: uppercase;
    font-weight: 900;
    word-break: break-all;
}
.features_icon {
    margin: 0;
    width: 143px;
    height: 135px;
}
.features__text {
    color: black;
    max-width: 300px;
    font-size: 17px;
    font-family: Dialog;
    text-transform: uppercase;
    margin: 0 auto;
}
.feature__blocks {
    text-decoration: none;
    max-width: 350px;
    max-height: 70px;
}
.feature__photo{
    margin-top: 15px;
    max-width: 30px;
    margin-left: -270px;
}
.section {
    padding: 80px 0;
}
.section__header {
    width: 100%;
    max-width: 950px;
    margin: 0 auto 80px;
    text-align: center;
}
.section__suptitle {
    font-size:28px ;
    font-family: "Comic Sans MS";
    color: #2d2d2d;
}
.section__title {
    font-size: 30px;
    text-transform: uppercase;
    color: #000000;
    font-weight: 700;
}
.section__title:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background-color: #cc1a0e;
    margin:30px auto  ;
}
.section__text {
    font-size: 15px;
    color: #999;
}
.about {
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
}
.about__item {
    width: 30%;
    padding-right: 50px;
    position: relative;
}
.about__item:hover {
    opacity: .5;
}
.about__img {
    background: linear-gradient(to bottom, #f33f39, #000000);
    transition: transform 0.2s linear;
}
.about__img img {
    display: block;
    transition: opacity .9s linear;
}
.photo__salon {
    width: 380px;
    height: 235px;
}
.photo__razval {
    height: 235px;
}
.about__item:hover {
    transform: translate3d(-5px,-10px,0);
}
.statistics {
    background-color: #e1ab04;
}
.stat {
    display:flex;
}
.stat__item {
    padding: 50px 25px;
    flex: 1 1 0;
    border-left: 2px solid #b5eae0 ;
    text-align: center;
    color: white;
}
.stat__item:last-child {
    border-right: 2px solid #b5eae0;
}
.stat__number {
    margin-bottom: 10px;
    font-size: 72px;
    font-weight: 700;
    line-height: 1;
}
.stat__text {
    text-transform: uppercase;
    font-size: 14px;
}
.services {
    display: flex;
}
.services__item {
    padding-left: 85px;
    padding-right: 35px;
    flex:1 1 0;
    max-width: 400px;
    position: relative;
}
.services__img {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 0;
    left: 28px;
    z-index: 1;
}
.services__title {
    font-size: 14px;
    color: #000000;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.services__text {
    font-size: 15px;
    color: #000000;
    font-family: "Comic Sans MS";
}
.center__line {
    background-color: #a9a9a9;
    max-width: 1400px;
    margin-left: 2300px;
    margin-top: -10px;
}
.section--devices {
    background: url("../images/Nikita/dev.jpg");
    opacity: 0.9;
    background-size: cover;
    padding-bottom: 0;
}
.devices {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    position: relative;
}
.devices__item {
    display: block;
}
.devices__item--iphone {
    position: absolute;
    bottom: -90px;
    right: 0;
    z-index: 1;
}
.we__do {
    display: flex;
    margin-top: 50px;
}
.accordion__icon {
    width: 40px;
    height: 40px;
}
.accordion__item {
    border: 1px solid #000000;
}
.accordion__header {
    border-bottom: 1px solid #f33f39;
    padding: 15px 20px 15px 60px;
    position: relative;
}
.accordion_content {
    padding: 30px 20px;
    font-size: 15px;
    color: #7d5d04;
    font-style: italic;
    font-weight: 300 ;
}
.accordion__title {
    font-size: 14px;
    padding: 20px 20px;
    text-transform: uppercase;
    color: #333;
}
.accordion__icon {
    position: absolute;
    top: 50%    ;
    left: 20px;
    z-index: 1;
    transform: translateY(-50%);
}
.section--gray {
    background-color: #477474;
    height:120px;
}
.container_reviews {
    max-width: 900px;
    margin: 0 auto;
}
.reviews {
    position: relative;
    padding: 0 110px;
}
.reviews__item {
    position: relative;
    padding-left: 205px;
}
.reviews__photo {
    padding: 20px;
    border: 2px solid #95e1d3;
    position: absolute;
    top:10px ;
    left: 0;
    z-index: 1;
    width: 100px;
    height: 100px;
}
.reviews__text {
    margin-bottom: 20px;
    font-size: 24px;
    font-style: italic;
    font-weight: 300;
    color: #999;
}
.reviews__author {
    font-size: 24px;
    color: black;
    font-family: "Comic Sans MS",cursive;
}
.reviews__author:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 60px;
    height: 2px;
    background-color: red;
    margin-right: 10px;
}
.reviews__btn {
    font-size: 0;
    color: transparent;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}
.reviews__btn--prev {
    left: 0;
}
.reviews__btn--next {
    right: 0;
}
.photochka:hover {
    transform: scale(0.9);
    transition: scale 0.9s linear;
}
.product-price {
    display: inline-block;
    margin: 2px;
    color: #233aaf;
    font-size: 18px;
}
.product-old-price {
    margin: 4px;
    color: #a6a5a5;
    text-decoration: line-through;
    font-size: 15px;
}
.product-title {

    display: inline-block;
    font-size: 15px;
    cursor: pointer;
    color: #5a4b2e;
    margin:  0 auto;
}
.product-list {
    display: inline-block;
    position: relative;
    padding: 8px;
    box-sizing: border-box;
    background-color: #fff;
    border: 2px solid #2a90a1;
    border-radius: 20px;
    margin-right: 10px;
}
.products {
    display: block;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 10px;
}
.products-image {
    width: 200px;
    padding-bottom: 20px;
    height: 250px;
}
.templateXHR {
   margin: 0 auto;
    max-width:500px;
    padding: 30px 10px;
    border: 1px black solid;
    border-radius: 10px;
    text-align: center;
    align-items: center;
}
@media (max-width: 576px) {
        .about__item {
            padding-right:10px;
        }
        .features {
            margin-left: -10px;
        }
       .services__item {
           margin-right: -10px;
       }
       .features {
           margin-left: 150px;
       }
        .photo__darkwindow {
            padding-left: 15px;
            display: block;
            max-width: 100%;
        }
        .photo__salon {
            width: 165px;
            height: 98px;
        }
        .photo__razval {
            width: 150px;
            height: 55em;
        }
        .stat {
            justify-content: center;
            display: block;
        }
        .stat__item {
            padding: 30px 15px;
            flex: none  ;
            width: 100%;
            border: 0;
        }
        .stat__item:last-child {
            border: 0;
        }
        .stat__item {
            border-bottom: 1px solid #1aa3ff;
        }
        .accordion__item {
            display: block;
            width: 100%;
            margin-top: 200px;
        }
        .nav.active {
            display: none;
        }
        .nav {
            display: none;
            width: 100%;
            position: absolute;
            top: 100%;
            left: 0;
            background-color: #714703;
        }
        .nav__link {
            display:block;
            margin-bottom: 20px;
            margin-top: 15px;
            text-align: center;
            margin-left: 0;
        }
        .header__logo {
            font-size: 35px;
            margin-left: 15px;
        }
        .header {
          padding-top: -10px;
        }
        .nav__toggle {
            display: block;
        }
        .nav.active {
            display: block;
        }
        .we__do__img {
            position: absolute;
            margin-left: 150px;
        }
        .accordion_content {
            margin-right: -5px;
        }
}

@media (max-width: 768px) {
    .header__logo {
        margin-left: 15px;
    }
    .nav {
        margin-right: 20px;
    }
    .features {
        margin-left: -100px;
        align-items: center;
    }
    .section__text {
        max-width: 500px;
       margin: 0 auto;
    }
    .photo__darkwindow {
        width: 90%;
        height: 90%;
        padding-left: 10px;
    }
    .photo__salon {
        width: 90%;
        height: 100px;;
    }
    .photo__razval {
        width: 90%;
        height: 90%;
    }
    .stat {
        justify-content: center;
        display: block;
    }
    .stat__item {
        padding: 30px 15px;
        flex: none  ;
        width: 100%;
        border: 0;
    }
    .stat__item:last-child {
        border: 0;
    }
    .stat__item {
        border-bottom: 1px solid #1aa3ff;
    }
    .accordion__item {
        margin-left: -150px;
    }
    .reviews__photo {
        top: -40%;
        transform: translateX(+10%);
        margin-top:45px;
    }
    .we__do__img {
        margin-left: 150px;
    }
    .accordion__item {
        margin-left:-7px;
    }
    .we__do__item {
        max-width: 700px;
    }
}
@media (max-width: 1200px) {
    .nav__link {
        margin-left: 25px;
    }
    .header__logo {
        margin-left: 20px;
    }
    .nav {
        padding-right: 20px;
    }
}
