.valerie-main-page {
    margin: 0;
    background-image: linear-gradient(#002e4d, #1aa3ff);
}
.valerie-header {
    position: sticky;
    top: 0;
    z-index: 100;
    border-style: groove;
    background-color: #001f33;
   }
.valerie-name {
    display: inline-block;
    color: #C0C0C0;
    font-size: 80px;
    text-align: center;
    font-variant: small-caps;
    width: 100%;
    }
.valerie-back-link {
    display: inline-block;
    width: 100px;
    background-color: #e0e0d1;
    color: black;
    text-shadow: 2px 2px 8px #6666ff;
    margin-top: 0;
    float: left;
    text-align: center;
    font-size: 20px;
}
.valerie-back-link:hover{
    display: inline-block;
    width: 130px;
    background-color: #80dfff;
    color: #4d4d33;
    text-shadow: 2px 2px 8px #6666ff;
    margin-top: 0;
    float: left;
    text-align: center;
    font-size: 30px;
}
.valerie-column {
    display: inline-block;
    width: calc(50% - 15px);
    vertical-align: top;
}
.valerie-column:first-child {
    padding-right: 20px;
}
.valerie-introduction {
    font-size: 30px;
    font-variant: small-caps;
    color: #FFD700;
    font-style: oblique;
}
.valerie-job {
    font-size: 30px;
    font-style: oblique;
    color: lightskyblue;
}
.valerie-photo {
    position: relative;
    font-size: 30px;
    font-style: oblique;
    color: #C0C0C0;
}
.valerie-pattern {
    position: absolute;
    top: 60px;
    right: 125px;
    left: 60px;
    z-index: 50;
    display: inline-block;
    box-sizing: border-box;
    color: white;
    font-size: 60px;
}
.valerie-hogvarts {
    position: relative;
    display: inline-block;
}
.valerie-hogvarts-houses {
    margin-top: 15px;
    margin-left: 60px;
    width: 400px;
    height: 400px;
}
.valerie-hogvarts-houses:hover {
    transform: scale(1.2);
    }
.valerie-question {
    position: absolute;
    display: inline-block;
    color: white;
    font-size: 30px;
    top: 0;
    left: 18%;
    box-sizing: border-box;
    animation-name: valerie-question;
    animation-duration:10s;
}
@keyframes valerie-question {
    0% {
        transform:translateY(0%);
        }
    50% {
        transform:translateY(50%);
        }
    100% {
        transform:translateY(100%);
        }
}
.valerie-link a:link,
.valerie-link a:visited {
    border-radius: 30px;
    background-color: #e0e0d1;
    color: black;
    padding: 14px 25px;
    text-align: center;
    text-shadow: 2px 2px 8px #6666ff;
    display: inline-block;
}
.table-of-skills {
    font-size: 30px;
    font-variant: small-caps;
    color: black;
}
.valerie-benefits {
    list-style-type: upper-alpha;
    list-style-position: inside;
}
.valerie-limitations {
    list-style-type: circle;
    list-style-position: inside;
}
.valerie-table-display{
    vertical-align: top;
}
.table-of-skills tr:first-child {
    color: #C0C0C0;
}
.valerie-second-column {
    padding-left: 30px;
}
.valerie-hobbies-gallery{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.valerie-hobbies {
    position: relative;
   }
.hobbie {
    height: 300px;
    width: 300px;
    margin-left: 30px;
    margin-right: 30px;
    border-radius: 45px;
    box-shadow: inset 2px 2px 5px black, 1px 1px 5px rgba(255, 255, 255, 1);
}
.valerie-pattern-hobbies {
    position: absolute;
    bottom: 0;
    margin-left: 125px;
    margin-right: 40px;
    margin-bottom: 5px;
    font-size: 40px;
    font-style: oblique;
    background-color: white;
}
.favorite {
    width: 400px;
    height: 400px;
    border-radius: 30px;
    box-shadow: 0 14px 28px black, 0 10px 10px rgba(0,0,0,0.22);
    margin-left: 60px;
    margin-right: 30px;
   }
.valerie-pattern-favorites {
    position: absolute;
    top: 0;
    font-size: 30px;
    font-weight: bold;
    margin-left: 160px;
    margin-right: 40px;
}
.button-hover {
    padding: 10px 20px;
    background-color: white;
    color: black;
    margin-top: 20px;
}
.button-hover:hover {
    background-color: #002e4d;
    color: white;
    transition: all 0.9s ease-in-out;
}
.valerie-animation-line {
    display: inline-block;
    color: white;
    position: relative;
    animation-name: valerie-line;
    animation-duration:30s;
    font-size: 20px;

    }
@keyframes valerie-line {
    0% {transform: translateX(-50%)}
    100% {transform: translateX(100%)}
}
.valerie-top{
    position: fixed;
    color: white;
    border-radius: 100px;
    background-color: #002e4d;
    right: 20px;
    bottom: 20px;
    cursor: pointer;
    box-sizing: border-box;
    border-color: #000066;
    z-index: 101;
    width: 50px;
    height: 50px;
    text-align: center;
    vertical-align: text-bottom;
    scroll-behavior: smooth;
    }

/*.valerie{*/
/*    box-sizing: border-box;*/
/*    width: 150px;*/
/*    height: 170px ;*/
/*    display:block;*/
/*    background: #DC143C;*/
/*    text-shadow: 2px 2px 8px #6666ff;*/
/*    text-align: end;*/
/*    padding-right: 23px;*/
/*    margin: 25px 60px 33px 78px;*/
/*    border: #C0C0C0;*/
/*    border-radius: 45px;*/
/*   }*/
/*.valerie:hover {*/
/*    display: inline;*/
/*    font-size: 50px;*/
/*    text-align: center;*/
/*    border-radius: 15px;*/
/*    background: greenyellow;*/
/*}*/
/*.valerie-sticky {*/
/*    position: sticky;*/
/*    display: inline-block;*/
/*    z-index: 100;*/
/*    top: 0;*/
/*    background-image: radial-gradient(#4d79ff, #C0C0C0);*/
/*    padding: 50px;*/
/*    font-size: 20px;*/
/*    border-style: inset;*/
/*    border-radius: 100%;*/
/*    border-color: #19334d #4d4d33;*/
/*}*/
