@media screen and (min-width: 576px) {
    .valerie-main-page {
        background-image: linear-gradient(#000066, #8080ff);
       }
    .valerie-header {
        display: flex;
        top: 0;
        z-index: 100;
        background-color: #000033;
    }
    .valerie-name {
        font-size: 30px;
        margin-top: 15px;
    }
    .valerie-back-link:hover{
        background-color: #b3b3ff;
        color: #000080;
    }
    .valerie-introduction {
        font-size: 16px ;
    }
    .valerie-job {
        font-size: 13px;
    }
    .valerie-second-column {
        padding-left: 10px;
    }
    .table-of-skills {
        font-size: 20px;
    }
    .flex-container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }
    .valerie-hobbies-gallery{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .valerie-column {
        width: 100%;
    }
}
@media screen and (min-width:  768px) {
    .valerie-main-page {
        background-image: linear-gradient(#002080, #99ccff);
    }
    .valerie-header {
        background-color: #001a33;
    }
 }
@media screen and (min-width: 992px) {
    .valerie-main-page {
        background-image: linear-gradient(#002e4d, #1aa3ff);
    }
    .valerie-name {
        font-size: 60px;
    }
    .valerie-introduction {
        font-size: 40px;
        font-variant: small-caps;
        color: #FFD700;
        font-style: oblique;
    }
    .valerie-job {
        font-size: 30px;
        font-style: oblique;
        color: lightskyblue;
    }
    .valerie-second-column {
        padding-left: 30px;
    }
    .table-of-skills {
        font-size: 30px;
    }
    .valerie-hobbies-gallery{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .valerie-hobbies {
          margin-top: 15px;
      }
    .valerie-column {
        display: inline-block;
        width: calc(50% - 15px);
        vertical-align: top;
    }
}
