.lazyButton {
    background-color: rgb(0,0,0);
    color: #fff;
    font-family: 'Chelsea Market', cursive;
    height: 60px;
    border-radius: 30px;
    border-style: groove;
    border-color: red;
    border-width: 7px;
}
.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
  }
    .modal-content {
    background-color: #fefefe;
    margin: 18% auto; 
    border: 11px solid #000000;
    width: 50%; 
    font-family: 'Chelsea Market', cursive;
  }
  .close {
    color: #aaa;
    float: right;
    font-size: 30px;
    font-weight: bold;
  }
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  .instagram-link {
    width: 30px;
    height: 30px;
  }
  .facebook-link {
    width: 30px;
    height: 30px;
  }