* {
    padding: 10px;
}
.rozetka {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 10px;
}
.rozetka-list {
    display: inline-block;
    position: relative;
    padding: 8px;
    box-sizing: border-box;
    background-color: #fff;
    border-color: 10px #333;
    }
.rozetka-list:hover {
    padding: 16px;
    transform: scale(1.5, 1.5);
    border: 2px #333;
    border-radius: 5px;
    box-shadow: 0 2px 16px rgba(0,0,0);
    z-index: 5;
}
.name {
    display: inline-block;
    font: inherit;
    font-size: 14px;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 3px;
    padding: 0;
}
.price {
    display: inline-block;
    font-size: 20px;
    color: #f84147;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 3px;
    padding: 0;
}
.avaliable {
    display: inline-block;
    margin: 0;
    padding: 0;
    font-size: 12px;
    color:green;
    font-family: 'Roboto', sans-serif;
}
.second-image {
    display: none;
    width: 150px;
    height: 210px;
}
.first-image {
    width: 150px;
    height: 210px;
}

.image-container:hover .second-image {
    display: inline;
}
.image-container:hover .first-image {
    display: none;
}
.far {
position: absolute;
top: 0;
right: 0;
color: yellow;
}
.fas {
    color: green;
}