* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.sidebar {
    min-width: 300px;
    max-width: 300px;
    background: #1d1919;
    color: #fff;
    padding-top: 48px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 24px;
}
.sidebar-photo {
    display: block;
    width: 120px;
    height: 120px;
    margin: 0 auto;
    border-radius: 100%;
    margin-left: 66px;
    margin-right: 66px;
    margin-bottom: 48px;
}
.wrapper {
    background: #ffffff;
    display: flex;
    max-width: 1200px;
 }
 .sidebar-point:hover {
     cursor: pointer;
     color:#f8b739;
 }
 .home-container {
    font-family: "Poppins", Arial, sans-serif;
    font-size: 14px;
    line-height: 1.8;
    font-weight: normal;
    color: #f8b739;
    padding: 10px 0;
    display: block; 
    background-color: #1d1919;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    cursor: pointer;
}
.about-container {
    padding: 10px 0;
    display: block;
    color: rgba(255, 255, 255, 0.8);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    font-family: "Poppins", Arial, sans-serif;
    font-size: 14px;
    line-height: 1.8;
    font-weight: normal;
    cursor: pointer;
}
.pages-container {
    padding: 10px 0;
    display: block;
    color: rgba(255, 255, 255, 0.8);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    font-family: "Poppins", Arial, sans-serif;
    font-size: 14px;
    line-height: 1.8;
    font-weight: normal;
    cursor: pointer;
}
.portfolio-container {
    padding: 10px 0;
    display: block;
    color: rgba(255, 255, 255, 0.8);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    font-family: "Poppins", Arial, sans-serif;
    font-size: 14px;
    line-height: 1.8;
    font-weight: normal;
    cursor: pointer;
}
.contact-container {
    padding: 10px 0;
    display: block;
    color: rgba(255, 255, 255, 0.8);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    font-family: "Poppins", Arial, sans-serif;
    font-size: 14px;
    line-height: 1.8;
    font-weight: normal;
    cursor: pointer;
}
.copyright-container {
    font-family: "Poppins", Arial, sans-serif;
    font-size: 14px;
    line-height: 1.8;
    font-weight: normal;
    color: rgba(255, 255, 255, 0.5);
    margin-top: 48px;
}
.link{
    color: #f8b739;
}
.navigation-container {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    position: relative;
    display: flex;
    flex-wrap: wrap;
}
.info-container {
    padding: 24px;
    font-family: "Poppins", Arial, sans-serif;
    font-size: 14px;
    line-height: 1.8;
    font-weight: normal;
    background: #fafafa;
    color: gray;
}
.sidebar-button {
    background: #f8b739;
    border-color: #f8b739;
    cursor: pointer;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
}
.menu-button {
    width: 35px;
    height: 5px;
    background-color:#ffffff;
    margin: 6px 0;
}
@media screen and (min-width: 375px) {
.flex-menu {
    display: none;
}
.navigation-button {
    background-color: #343a40;
    border-color: #343a40;
    cursor: pointer;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    margin-left: 12rem;
}
}
@media screen and (min-width: 992px) {
.navigation-button {
    display: none;
}
.flex-menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-left: 28rem;
    align-items: center;
}
.navigation-item {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    font-family: "Poppins", Arial, sans-serif;
    font-size: 14px;
    line-height: 1.8;
    font-weight: normal;
    cursor: pointer;
}
.navigation-item:hover {
    color: black;
}
.home {
    color: black;
}
}
.title {
    line-height: 1.5;
    font-weight: 400;
    font-family: "Poppins", Arial, sans-serif;
    color: #000;
    margin-bottom: 1.5rem;
    font-size: 2rem;
}
.text {
    margin-top: 0;
    margin-bottom: 1rem;
    font-family: "Poppins", Arial, sans-serif;
    font-size: 14px;
    line-height: 1.8;
    font-weight: normal;
    color: gray;
    text-align: left;
}